---
import { Bot, Framer } from "@lucide/astro";
---

<section class="pb-20 pt-10 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <div class="mt-6 mb-10 flex justify-center gap-4">
      <div class="flex justify-center asset-bg p-1 rounded-lg fade-in-scroll">
        <Framer size={53} class="text-color" stroke-width={1} />
      </div>
    </div>
    <p
      class="text-5xl md:text-6xl leading-10 font-normal text-gradient text-color leading-[100%] fade-in-scroll"
    >
      ISO 27001 Framework
    </p>
  </div>
</section>
