---
import FaqAccordion from "../../layouts/support/FaqAccordion.astro";
const faqs = [
  {
    section: "General",
    items: [
      {
        q: "What is Openlane?",
        a: "Openlane is affordable, transparent, developer-friendly compliance automation. We make compliance simple so you can actually ship code.",
      },
      {
        q: "Who is Openlane for?",
        a: "Openlane is optimized for growing teams. Our modular system and pricing are ideal for founders and developers in early-stage companies who don’t want to close deals and enter new markets -who need SOC 2 (or NIST, ISO27001, and more) without the tears.",
      },
      {
        q: "How is Openlane different?",
        a: "We’re open-source with transparent pricing. No black boxes, no vendor lock-in, no “surprise” upcharges. Just compliance that plays nice.",
      },
    ],
  },
  {
    section: "Features",
    items: [
      {
        q: "Which frameworks do you support?",
        a: "We're starting with SOC 2, ISO 27001, HIPAA, and NIST 800-53, the greatest door-openers and deal-closers for growing companies. Don't see what you are looking for? We also support custom frameworks and can onboard new frameworks to our platform in days - instead of months.",
      },
      {
        q: "Does it connect to my tools?",
        a: "Yes. We can connect to GitHub, Slack, and more. If your developers live in it, we probably plug into it - and if webhooks and API keys don't get you there, we can build together in the open.",
      },
      {
        q: "Can I customize?",
        a: "Absolutely. Think of our templates like IKEA furniture - you can follow the instructions or hack it into something cooler.",
      },
      {
        q: "What’s “continuous compliance”?",
        a: "Instead of panicking once a year, you’re audit-ready every day. Like brushing your teeth, but for security.",
      },
      {
        q: "Do I have to do continuous compliance to use Openlane?",
        a: "Of course not! Openlane is configurable to your level of automation and comfort. The truth is, some evidence is just easier to pull manually and drop into a portal -you're not stuck in a rigid environment with us.",
      },
    ],
  },
  {
    section: "Security & Data",
    items: [
      {
        q: "Is my data secure?",
        a: "Yes. Encrypted, isolated, and guarded like your own dragon hoard.",
      },
      {
        q: "What if I leave?",
        a: "We won’t make it awkward. Download your data and any evidence from our system and go along on your journey.",
      },
    ],
  },
  {
    section: "Pricing & Access",
    items: [
      {
        q: "Is it really open-source?",
        a: "Yep. Fork it, run it, star it. Pay us to make your lives easier and get access to licensed frameworks.",
      },
      {
        q: "Do I need a credit card to start?",
        a: "Nope. We’re not that clingy. Use our 30-day free trial to confirm we're a good fit, and stick with us for the long haul.",
      },
      {
        q: "How fast can I onboard?",
        a: "Hours. If it takes longer, ping us —we’ll race you.",
      },
    ],
  },
  {
    section: "Audits",
    items: [
      {
        q: "Will it help me pass SOC 2?",
        a: "Yes. We automate the evidence so you can spend less time sweating and more time drilling into and solving your customers pain points.",
      },
      {
        q: "Can I share with my auditor?",
        a: "Absolutely -and they would prefer it! Export it, send them a link, or let them poke around directly —you have granular control over what they see.",
      },
    ],
  },
  {
    section: "Support",
    items: [
      {
        q: "Do you offer support?",
        a: "Yep. Access free help from our community on discord, or contact us to talk about a paid plan if you want us on speed dial.",
      },
      {
        q: "Is there a community?",
        a: "Yes, and they’re as tired of compliance theater as you are. Come join the movement!",
      },
    ],
  },
];
---

<section
  class="flex-1 rounded-t-[60px] rounded-b-none border-t border-color box-shadow mx-auto px-4 sm:px-6 md:px-8 bg-card lg:px-10"
>
  <div class="flex flex-col h-full">
    <h2 class="text-2xl font-medium leading-9 mb-8 fade-in-scroll">
      Frequently Asked Questions
    </h2>

    <div class="flex-1">
      {
        faqs.map((group) => (
          <div class="mb-10 fade-in-scroll">
            <h3 class="text-2xl font-medium text-text leading-8 mb-4">
              {group.section}
            </h3>
            {group.items.map((item) => (
              <FaqAccordion question={item.q} answer={item.a} />
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
