---
import { ChevronRight } from "@lucide/astro";
import type { ComponentType } from "react";

interface Props {
  title: string;
  text: string;
  Icon: ComponentType<{ height?: number; width?: number; className?: string }>;
  href: string;
  linkText: string;
}

const { title, text, Icon, href, linkText } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  class="flex-1 min-w-[297px] min-h-[200px] rounded-lg border border-border p-6 hover:border-orange-500 cursor-pointer flex flex-col justify-between !transition-none"
  href={href}
>
  <div class="flex items-start space-x-3 gap-3">
    <Icon height={30} width={30} className="text-brand-400" />
    <div class="flex flex-col gap-2 items-start text-left flex-1">
      <p class="text-2xl font-normal leading-7">{title}</p>
    </div>
  </div>

  <div class="flex flex-col mt-4 flex-1 justify-between items-start">
    <p class="text-base font-normal leading-6 text-left mb-4">{text}</p>
    <div
      class="flex items-center text-orange-500 font-normal hover:underline whitespace-nowrap"
    >
      {linkText}
      <ChevronRight class="ml-1 w-4 h-4 text-orange-500" />
    </div>
  </div>
</a>
