<section class="py-16 px-6 md:px-12 lg:px-24 !pb-20 relative bg-card z-[-2]">
  <div class="max-w-[1290px] mx-auto flex flex-col gap-6">
    <p class="text-6xl font-normal tracking-[-1.5px]">
      Risk <span class="text-gradient">Assessment</span>
    </p>
    <p class="text-2xl text-normal leading-8 tracking-[-0.6px]">
      Openlane's risk assessment audit platform lay out risks from both a
      business and technical perspective.
    </p>
  </div>
</section>
