---
import PrimaryBtn from "../buttons/PrimaryBtn.astro";
---

<div
  class="max-w-300 rounded-lg relative bg-[linear-gradient(180deg,rgba(154,245,220,0)_0%,rgba(154,245,220,0.16)_100%)] mx-auto p-6 md:p-8 flex flex-col items-start gap-8 overflow-hidden"
>
  <div
    class="flex-1 z-10 flex flex-col space-y-6
              md:text-left md:items-start
              text-left items-start"
  >
    <div
      class="font-mono inline-block px-3 py-1 text-xs font-normal uppercase leading-4 text-[rgba(9,21,29,0.64)]
           rounded-md] border border-[rgba(9,21,29,0.16)] bg-white
           shadow-[0_6px_2px_0_rgba(9,21,29,0),0_4px_2px_0_rgba(9,21,29,0.01),0_2px_1px_0_rgba(9,21,29,0.03),0_1px_1px_0_rgba(9,21,29,0.05),0_0_1px_0_rgba(9,21,29,0.06)]"
    >
      Start Automating Today
    </div>

    <h1
      class="text-[#09151D] text-[56px] font-medium leading-16 tracking-[-1.12px]"
    >
      Get compliant with Openlane
    </h1>

    <p class="text-[#6B7682]! text-[20px] font-normal leading-7.5 max-w-xl">
      Join teams saving hours every week with continuous compliance automation.
    </p>

    <PrimaryBtn
      class="w-50 h-auto inline-block px-6 py-3"
      href="https://console.theopenlane.io/signup"
    >
      Get Started for Free
    </PrimaryBtn>
  </div>

  <img
    src="/assets/trust-center/trust-center-light-mode.svg"
    alt="Openlane Dashboard Screenshot"
    class="absolute bottom-0 right-0 w-[60%] sm:w-[50%] md:w-150 max-w-full object-contain"
  />
</div>
