---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div
  class={`footer-links text-xl font-normal leading-7.5 fade-in-scroll ${className}`}
>
  <slot />
</div>
