---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Trust Center | Openlane"
  description="Transparent, modular pricing. Pay only for the compliance modules your team needs."
  keywords="compliance pricing, soc 2 pricing, openlane pricing"
>
  <p>Trust Center</p>
</BaseLayout>;

