---
import MainSection from "../../layouts/contact/MainSection.astro";
import { CircleCheckBig, CircleX } from "@lucide/astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import ContactLayout from "../../layouts/contact/Contact.astro";
---

<BaseLayout>
  <ContactLayout />
  <!-- <MainSection /> -->
  <div id="toast-container" class="fixed bottom-4 right-4 z-50 space-y-2"></div>
  <div id="toast-icons" class="hidden">
    <div id="toast-icon-success">
      <CircleCheckBig class="w-5 h-5 text-color-primary" />
    </div>
    <div id="toast-icon-error">
      <CircleX class="w-5 h-5 text-color-fail" />
    </div>
  </div>
</BaseLayout>
