---
import { ChevronRight, CircleCheckBig } from "@lucide/astro";
---

<section class="bg-slate-50 py-20 px-2 md:px-22 text-center">
  <div class="mx-auto max-w-[1290px] text-left">
    <div
      class="flex flex-col sm:flex-row sm:items-start justify-center sm:justify-between text-center sm:text-left mb-10"
    >
      <div>
        <p class="font-medium leading-[100%] text-left text-3xl mb-2">
          Benefits
        </p>
        <p class="text-normal leading-[100%] tracking-[-0.9px] text-left">
          Some of the benefits of using Openlane's compliance automation
          platform
        </p>
      </div>

      <div class="flex items-center gap-4 justify-between pt-5 sm:pt-0">
        <button
          class="px-6 py-2 border-2 rounded-full border-brand-400 flex items-center gap-2 font-medium w-[195px] text-base cursor-pointer group/feedback hover:border-primary transition-all duration-300"
        >
          <span
            class="group-hover/feedback:!text-(--color-primary) transition-all duration-300"
            >Lorem ipsum</span
          >
          <ChevronRight
            class="w-4 h-4 group-hover/feedback:!text-(--color-primary) transition-all duration-300"
          />
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>Centralized documentation and evidence-gathering</p>
      </div>

      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>Simplified risk assessment calculations and reporting</p>
      </div>

      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>Easier and more accurate compliance reporting</p>
      </div>

      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>Supplier due diligence / Third-party Risk Management</p>
      </div>

      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>Improved risk management decision-making with real-time data</p>
      </div>

      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>
          Standardized controls testing and ongoing alignment with standards
        </p>
      </div>

      <div class="flex items-start border border-border rounded-lg p-4">
        <CircleCheckBig size={23} class="text-color-primary mt-1 mr-2" />
        <p>Lower chance of security breaches</p>
      </div>
    </div>
  </div>
</section>
