---
import { ChevronRight, CircleCheckBig, Lightbulb } from "@lucide/astro";
---

<section
  class="py-20 px-2 sm:px-6 bg-color-secondary rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div
    class="max-w-[1290px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-12 items-stretch"
  >
    <div class="lg:col-span-5 h-full flex flex-col justify-between">
      <p class="font-medium text-3xl leading-9 tracking-[-0.75px] mb-2">
        Identify, address, and enhance
      </p>
      <p class="text-2xl font-normal leading-8 mb-6 tracking-[-0.6px]">
        Automation assures timely adherence to regulations and simplifies
        complex compliance workflows such as risk assessments and corrective
        actions.
      </p>

      <div class="flex items-start gap-2 mb-3">
        <CircleCheckBig
          class="text-color-secondary w-[20px] h-[20px] mt-1 shrink-0"
        />
        <p class="font-normal text-lg leading-7">
          Integrate your company’s specific security and compliance protocols
          into our sophisticated software.
        </p>
      </div>

      <div class="flex items-start gap-2">
        <CircleCheckBig
          class="text-color-secondary w-[20px] h-[20px] mt-1 shrink-0"
        />
        <p class="font-normal text-lg leading-7">
          We can efficiently identify and address non-compliance issues,
          enhancing overall business operations and regulatory conformity.
        </p>
      </div>
    </div>

    <div class="lg:col-span-7 flex justify-center items-center h-full">
      <div
        class="w-full h-full bg-color-secondary rounded-xl text-center flex justify-center items-center"
      >
        <img
          src="/assets/notes.svg"
          alt="Compliance illustration"
          class="w-auto max-h-full object-contain rounded-xl"
        />
      </div>
    </div>
  </div>
</section>

<section class="py-20 px-2 sm:px-6 relative bg-card">
  <div
    class="max-w-[1290px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-12 items-stretch bg-card"
  >
    <div class="lg:col-span-5 flex justify-center items-center h-full">
      <div class="w-full h-full bg-card rounded-xl text-left">
        <div class="flex items-start gap-6">
          <Lightbulb size={61} class="text-color-accent shrink-0" />
          <p class="text-6xl font-normal tracking-[-1.5px]">
            <span class="text-color-accent">
              Always ahead of regulatory changes and industry standards
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="lg:col-span-7 h-full flex flex-col justify-between">
      <p class="text-2xl font-normal leading-8 mb-6 tracking-[-0.6px]">
        This shift from mundane tasks to high-level planning and analysis not
        only improves productivity, but also allows for a more active and
        strategic approach to compliance, assuring that organizations are always
        ahead of regulatory changes and industry standards.
      </p>

      <div class="flex items-start gap-2 mb-3">
        <CircleCheckBig
          class="text-color-secondary w-[20px] h-[20px] mt-1 shrink-0"
        />
        <p class="font-normal text-lg leading-7">
          Compliance automation enables organizations to maintain regulatory
          compliance and avert financial repercussions.
        </p>
      </div>

      <div class="flex items-start gap-2">
        <CircleCheckBig
          class="text-color-secondary w-[20px] h-[20px] mt-1 shrink-0"
        />
        <p class="font-normal text-lg leading-7">
          Significantly enhances your company's efficiency. By eliminating the
          need for time-consuming manual processes, these tools free up your
          teams to concentrate on your core business goals.
        </p>
      </div>
    </div>
  </div>
</section>
