---
import { Bot } from "@lucide/astro";
---

<section class="pb-20 pt-10 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <div class="mt-6 mb-10 flex justify-center gap-4">
      <div class="flex justify-center asset-bg p-1 rounded-lg">
        <Bot size={53} class="text-color" stroke-width={1} />
      </div>
    </div>
    <p
      class="sm:text-5xl md:text-6xl leading-10 font-normal text-gradient text-color leading-[100%]"
    >
      Compliance Automation
    </p>

    <div class="mt-6 flex justify-center gap-4">
      <p class="text-2xl font-normal leading-8 tracking-[-0.6px]">
        Openlane's compliance automation platform revolutionizes how companies
        fulfill their legal or regulatory requirements by leveraging
        technology to streamline previously manual tasks.
      </p>
    </div>
  </div>
</section>
