<section class="py-16 px-6 md:px-12 lg:px-24 mb-20">
  <div class="max-w-[1290px] mx-auto flex flex-col gap-6">
    <p class="text-6xl font-normal tracking-[-1.5px]">
      What <span class="text-gradient">is Compliance Automation?</span>
    </p>
    <p class="text-2xl text-normal leading-8 tracking-[-0.6px]">
      Openlane's compliance automation platform revolutionizes how companies are
      able to fulfill their legal or regulatory requirements by leveraging
      technology to streamline previously manual tasks.
    </p>
  </div>
</section>
