---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { Mountain, CalendarFold } from "@lucide/astro";
import Posts from "../../layouts/posts/Posts.astro";
import PostsHeader from "../../layouts/posts/PostsHeader.astro";

const res = await fetch("http://localhost:3000/api/posts");
const posts = await res.json();
console.log(posts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-outfit bg-gray-900 text-white">
    <Header />
    <main class="bg-card">
      <PostsHeader />
      <Posts />
    </main>
    <Footer />
  </body>
</html>
