---
import { FOOTER_LINKS } from "../../components/shared/footer-config";
import GithubLogo from "../../components/shared/github-logo.astro";
import HeaderBackgroundImage from "../../components/shared/header-background-image.astro";
import SectionSubtitle from "../../components/shared/section-subtitle.astro";
import SectionTitle from "../../components/shared/section-title.astro";
import Section from "../../components/shared/section.astro";
import ContactForm from "./ContactForm.astro";
---

<section
  class="relative max-w-480 z-30 mx-auto flex flex-col items-center justify-center overflow-hidden min-h-200"
>
  <HeaderBackgroundImage
    class="absolute bottom-96 left-0 w-full h-full object-contain"
  />

  <div class="absolute inset-y-0 left-1/2 -translate-x-1/2 w-100 lg:w-150 flex">
    <div class="w-full z-10 h-full border border-dashed border-dashed-border">
    </div>

    <div class="w-full z-10 h-full border border-dashed border-dashed-border">
    </div>
  </div>
  <div
    class="w-full max-w-480 h-full relative pt-15 mx-auto flex flex-col items-center gap-8 overflow-hidden"
  >
    <div class="z-30 flex flex-col mb-10 items-center text-center">
      <SectionTitle class="max-sm:text-[32px] max-sm:leading-10"
        >Contact</SectionTitle
      >
    </div>
  </div>

  <div class="mx-auto z-30"><ContactForm /></div>
</section>
<Section>
  <div class="flex flex-col mx-auto max-w-167 gap-5">
    <SectionTitle>Participate, Contribute.</SectionTitle>
    <SectionSubtitle
      >Join our community and help shape the future of compliance automation.
      Whether you're a developer, compliance expert, or enthusiast, your
      contributions can help make compliance more accessible and efficient for
      everyone.</SectionSubtitle
    >
    <div
      class="flex-col md:flex-row flex mt-8 gap-4 items-center justify-around"
    >
      <div
        class="flex w-73 h-12 rounded-xl gap-2 py-3 px-6 justify-center items-center font-medium bg-white border border-button-border shadow-[0px_1px_2px_0px_#09151D14,inset_0px_-1px_0px_0px_#09151D14]"
      >
        <a
          class="flex items-center gap-2 footer-anchor"
          target="_blank"
          href={FOOTER_LINKS.github}
        >
          <GithubLogo class="w-5 h-5" />
          <div class="text-outfit text-base text-title-section">
            View our code on GitHub
          </div>
        </a>
      </div>
      <div
        class="flex w-73 h-12 rounded-xl gap-2 py-3 px-6 justify-center items-center font-medium bg-white border border-button-border shadow-[0px_1px_2px_0px_#09151D14,inset_0px_-1px_0px_0px_#09151D14]"
      >
        <a
          class="flex items-center gap-2 footer-anchor"
          target="_blank"
          href={FOOTER_LINKS.githubIssues}
        >
          <GithubLogo class="w-5 h-5" />
          <div class="text-outfit text-base text-title-section">
            Open an issue on our project
          </div>
        </a>
      </div>
    </div>
  </div>
</Section>
