---
import DiscordLogo from "../../components/shared/discord-logo.astro";
import { FOOTER_LINKS } from "../../components/shared/footer-config";
import GithubLogo from "../../components/shared/github-logo.astro";
import LinkedlnLogo from "../../components/shared/linkedln-logo.astro";
import SectionSubtitle from "../../components/shared/section-subtitle.astro";
import SectionTitle from "../../components/shared/section-title.astro";
---

<div>
  <form method="POST" id="contact-form" class="fade-in-scroll visible pb-5">
    <div
      class="relative flex bg-white pb-5 flex-col border border-dashed border-dashed-border rounded-md gap-4 w-100 lg:w-180"
    >
      <img
        src="/assets/ellipse-30.svg"
        alt=""
        class="absolute -top-2 -left-2 w-4 h-4 pointer-events-none"
      />
      <img
        src="/assets/ellipse-30.svg"
        alt=""
        class="absolute -top-2 -right-2 w-4 h-4 pointer-events-none"
      />
      <img
        src="/assets/ellipse-30.svg"
        alt=""
        class="absolute -bottom-2 -left-2 w-4 h-4 pointer-events-none"
      />
      <img
        src="/assets/ellipse-30.svg"
        alt=""
        class="absolute -bottom-2 -right-2 w-4 h-4 pointer-events-none"
      />
      <div
        class="flex flex-row border-t border-b border-dashed border-dashed-border"
      >
        <div
          class="flex w-full p-4 justify-center gap-2 items-center border-r border-dashed border-dashed-border"
        >
          <a
            class="flex items-center gap-2 footer-anchor"
            target="_blank"
            href={FOOTER_LINKS.discord}
          >
            <DiscordLogo class="w-5 h-5" />
            Discord
          </a>
        </div>
        <div
          class="flex w-full p-4 justify-center gap-2 items-center border-r border-dashed border-dashed-border"
        >
          <a
            class="flex items-center gap-2 group footer-anchor"
            target="_blank"
            href={FOOTER_LINKS.linkedin}
          >
            <LinkedlnLogo class="w-5 h-5" />
            LinkedIn
          </a>
        </div>
        <div class="flex w-full p-4 justify-center gap-2 items-center">
          <a
            class="flex items-center gap-2 footer-anchor"
            target="_blank"
            href={FOOTER_LINKS.github}
          >
            <GithubLogo class="w-5 h-5" />
            GitHub
          </a>
        </div>
      </div>
      <div class="flex flex-col p-7 gap-3 justify-start items-start">
        <SectionTitle class="text-[40px]"
          >We'd love to hear from you</SectionTitle
        >
        <SectionSubtitle
          >We would love to hear your thoughts, feedback, and questions. You may
          reach us at <a
            href="mailto:info@theopenlane.io"
            class="footer-anchor underline!">info@theopenlane.io</a
          > or you may use the form below.</SectionSubtitle
        >
      </div>

      <div class="px-7">
        <label for="email" class="block text-color text-sm mb-1"
          >Work Email</label
        >
        <input
          name="email"
          id="email"
          type="email"
          placeholder="e.g. johndoe@company.com"
          class="w-full px-3 py-2 bg-white border border-button-border text-color rounded-md shadow-[0px_1px_2px_0px_#09151D14,inset_0px_-1px_0px_0px_#09151D14] focus:outline-none focus:border-button-border"
        />
        <p class="text-xs text-color-primary hidden" data-error-for="email">
          Email is required.
        </p>
      </div>
      <div class="px-7">
        <label for="name" class="block text-color text-sm mb-1">Full Name</label
        >
        <input
          name="name"
          id="name"
          type="text"
          placeholder="e.g. John Doe"
          class="w-full px-3 py-2 bg-white border border-button-border text-color rounded-md shadow-[0px_1px_2px_0px_#09151D14,inset_0px_-1px_0px_0px_#09151D14] focus:outline-none focus:border-button-border"
        />
        <p class="text-xs text-color-primary hidden" data-error-for="name">
          Name is required.
        </p>
      </div>
      <div class="px-7">
        <label for="company" class="block text-color text-sm mb-1"
          >Company</label
        >
        <input
          name="company"
          id="company"
          type="text"
          placeholder="e.g. Apple"
          class="w-full px-3 py-2 bg-white border border-button-border text-color rounded-md shadow-[0px_1px_2px_0px_#09151D14,inset_0px_-1px_0px_0px_#09151D14] focus:outline-none focus:border-button-border"
        />
        <p class="text-xs text-color-primary hidden" data-error-for="company">
          Company is required.
        </p>
      </div>
      <div class="px-7">
        <label for="message" class="block text-color text-sm mb-1"
          >Message</label
        >
        <textarea
          name="message"
          id="message"
          rows="5"
          placeholder="Type your message here..."
          class="w-full px-3 py-2 bg-white border border-button-border text-color rounded-md resize-none shadow-[0px_1px_2px_0px_#09151D14,inset_0px_-1px_0px_0px_#09151D14] focus:outline-none focus:border-button-border"
        ></textarea>
      </div>
      <button
        id="submit-btn"
        type="submit"
        class="h-10 inline-flex mx-7 items-center justify-center
          font-sans font-medium text-base leading-6 tracking-normal
          bg-primary-button
          rounded-lg shadow
          border border-transparent
          cursor-pointer
          transition-all duration-300
          hover:bg-[linear-gradient(0deg, bg-primary-button,bg-primary-button),linear-gradient(0deg,rgba(255,255,255,0.44),rgba(255,255,255,0.44))]
          hover:border-button-border"
      >
        <span
          class="inline-flex items-center gap-2 whitespace-nowrap default-text"
        >
          Send
        </span>
        <span class="loading-text hidden">Sending...</span>
      </button>
    </div>
  </form>
</div>

<script>
  import { initFormHandler } from "../../scripts/form-handler";

  document.addEventListener("astro:page-load", () => {
    initFormHandler(["name", "company", "email", "message"]);
  });
</script>
