---
interface Props {
  href: string;
  class?: string;
  astroReload?: boolean;
}

const { href, class: className = "", astroReload } = Astro.props;
---

<a
  href={href}
  data-astro-reload={astroReload || undefined}
  class={`w-32 h-auto flex lg:inline-flex items-center justify-center px-6 py-3
         font-sans font-medium text-base leading-6 tracking-normal
         rounded-lg shadow border border-transparent transition-colors bg-white hover:bg-card-hover-secondary
          ${className}`}
>
  <slot />
</a>
