---
import BaseLayout from "../../layouts/BaseLayout.astro";
import DemoLayout from "../../layouts/demo/DemoLayout.astro";
import { CircleCheckBig, CircleX } from "@lucide/astro";
---

<BaseLayout>
  <DemoLayout />
  <div id="toast-container" class="fixed bottom-4 right-4 z-50 space-y-2"></div>
  <div id="toast-icons" class="hidden">
    <div id="toast-icon-success">
      <CircleCheckBig class="w-5 h-5 text-color-primary" />
    </div>
    <div id="toast-icon-error">
      <CircleX class="w-5 h-5 text-color-fail" />
    </div>
  </div>
</BaseLayout>
