---
type Info = {
  title: string;
  description: string;
  icon: string;
};

interface Props {
  data: Info;
}

const { data } = Astro.props;
---

<div
  class="flex flex-col justify-between p-6 h-[276px] rounded-[24px]
         bg-[linear-gradient(180deg,rgba(154,245,220,0.04)_0%,rgba(154,245,220,0)_100%)]
         shadow-[0_0_0_1px_rgba(9,21,29,0.08),0_14px_4px_0_rgba(9,21,29,0),0_9px_4px_0_rgba(9,21,29,0.01),0_5px_3px_0_rgba(9,21,29,0.02),0_2px_2px_0_rgba(9,21,29,0.03),0_1px_1px_0_rgba(9,21,29,0.04)]
         fade-in-scroll"
>
  <div
    class="mb-4 flex items-center justify-center h-[48px] w-[48px] rounded-lg bg-white shadow-sm"
  >
    <img src={data.icon} alt={data.title} class="h-6 w-6" />
  </div>
  <div class="flex flex-col gap-3">
    <p class="text-2xl font-medium tracking-[-0.6px] mb-2">
      <span class="font-bold">{data.title}</span>
    </p>
    <p class="font-normal leading-7">
      {data.description}
    </p>
  </div>
</div>
