---
import { Bot, Framer } from "@lucide/astro";
---

<section class="py-20 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <div class="mt-6 mb-10 flex justify-center gap-4">
      <div class="flex justify-center asset-bg p-1 rounded-lg">
        <Framer size={53} class="text-color" stroke-width={1} />
      </div>
    </div>
    <p
      class="sm:text-5xl md:text-6xl leading-10 font-normal text-gradient text-color leading-[100%]"
    >
      Frameworks
    </p>

    <div class="mt-6 flex justify-center gap-4">
      <p class="text-2xl font-normal leading-8 tracking-[-0.6px]">
        Café java seasonal lait au french in aroma extra espresso sit eu spice.
        Flavour medium pumpkin redeye medium qui latte extra au extraction extra
        americano doppio ristretto.
      </p>
    </div>
  </div>
</section>
