---
import { Bot, Framer } from "@lucide/astro";
---

<section class="pb-20 pt-10 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <div class="mt-6 mb-10 flex justify-center gap-4">
      <div class="flex justify-center asset-bg p-1 rounded-lg">
        <Framer size={53} class="text-color" stroke-width={1} />
      </div>
    </div>
    <p
      class="sm:text-5xl md:text-6xl leading-10 font-normal text-gradient text-color leading-[100%]"
    >
      Frameworks
    </p>

    <div class="mt-6 flex justify-center gap-4">
      <p class="text-2xl font-normal leading-8 tracking-[-0.6px]">
        Support for SOC 2, NIST 800‑53, NIST CSF, ISO 27001 or any framework you
        bring. Every standard is defined via JSON Schema, so onboarding new
        controls or rolling out updates takes days, not months. 
      </p>
    </div>
  </div>
</section>
