---
import PrimaryBtn from "../../components/buttons/PrimaryBtn.astro";
import SecondaryButton from "../../components/buttons/SecondaryButton.astro";
import PricingTabs from "./Pricing.tsx";
---

<section class="pt-10 px-2 sm:px-6 text-center relative">
  <div class="mx-auto max-w-167 mb-20">
    <p
      class="text-5xl md:text-6xl font-normal text-color leading-[100%] fade-in-scroll"
    >
      Pricing
    </p>
    <div class="mt-6 flex justify-center gap-4">
      <p
        class="text-2xl font-normal leading-8 tracking-[-0.6px] fade-in-scroll"
      >
        Modular pricing built for growing teams. We keep it simple: clear costs,
        flexible add-ons, and no surprises. Compliance that fits your team - and
        your budget.
      </p>
    </div>
  </div>
</section>

<section>
  <PricingTabs client:load />
  <div
    class="flex flex-col sm:flex-row justify-center items-center gap-4 mb-10"
  >
    <PrimaryBtn
      class="w-50 h-auto inline-block px-6 py-3"
      href="https://console.theopenlane.io/signup"
    >
      Get Started for Free
    </PrimaryBtn>
    <SecondaryButton class="w-auto whitespace-nowrap" href="/demo" astroReload
      >Book Demo</SecondaryButton
    >
  </div>
</section>
