---
import SecondaryButton from "../../components/buttons/SecondaryButton.astro";
import PricingTabs from "./Pricing.tsx";
---

<section class="pt-10 px-2 sm:px-6 text-center relative z-[-2]">
  <div class="mx-auto max-w-[668px] mb-20">
    <p
      class="text-5xl md:text-6xl leading-10 font-normal text-color leading-[100%] fade-in-scroll"
    >
      Pricing
    </p>

    <div class="mt-6 flex justify-center gap-4">
      <p
        class="text-2xl font-normal leading-8 tracking-[-0.6px] fade-in-scroll"
      >
        Modular pricing built for growing teams. We keep it simple: clear costs,
        flexible add-ons, and no surprises. Compliance that fits your team - and
        your budget.
      </p>
    </div>
    <div class="flex mx-auto justify-center mt-10">
      <SecondaryButton href="/demo">Get Demo</SecondaryButton>
    </div>
  </div>
</section>

<section>
  <PricingTabs client:load />
</section>
