/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@fontsource/outfit/100.css";
@import "@fontsource/outfit/300.css";
@import "@fontsource/outfit";
@import "@fontsource/outfit/200.css";
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";
@import "@fontsource/outfit/800.css";
@import "@fontsource/outfit/900.css";
@import "@fontsource/jetbrains-mono/300.css";
@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/500.css";
@import "@fontsource/jetbrains-mono/600.css";
@import "@fontsource/jetbrains-mono/700.css";
@import "@fontsource/jetbrains-mono/800.css";
@import "@fontsource/noto-serif/200-italic.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Outfit", "sans-serif";
  --font-cursive: "Noto Serif", serif;
  --font-mono: "JetBrains Mono", monospace;
  /* Text colors */
  --text: #2e2e2e;
  --text-invert: #ffffff;
  --text-white: #ffffff;
  --text-light: #09151d;
  --text-color-a: #6b7682;
  --color-subtitle: #6b7682;
  --text-brand: #9af5dc;
  --color-brand: #9af5dc;

  /* Old colors */
  --color-primary: #9eebdd;
  --color-secondary: #e0ddd4;
  --color-accent: #09151d;
  --text-color-primary: #2e2e2e;
  --text-color-secondary: #448c84;
  --text-color-accent: #2e2e2e;
  --color-dashed-border: #ebeced;
  --color-blue-50: #0057b5;
  --color-slate-50: #f2f5f6;
  --color-brand-50: #f1fcf9;
  --color-brand-100: #d1f6ee;
  --color-brand-200: #9eebdd;
  --color-brand-300: #6ddbcb;
  --color-brand-400: #3fc2b4;
  --color-brand-500: #26a69a;
  --color-brand-600: #1b867d;
  --color-brand-700: #1a6b66;
  --color-brand-800: #195653;
  --color-brand-900: #194846;
  --color-brand-950: #092a2a;
  --bg-brand-accent: var(--color-brand-100);
  --color-slate-700: #f8a83f;
  --color-accent-50: #fff6ec;
  --color-accent-100: #ffecd2;
  --color-accent-200: #ffd5a4;
  --color-accent-300: #ffb66b;
  --color-accent-400: #ff8b2f;
  --color-accent-500: #ff6907;
  --color-accent-600: #f94c00;
  --color-accent-700: #cc3600;
  --color-accent-800: #a32c09;
  --color-accent-900: #83270b;
  --color-accent-950: #471003;
  --color-text: #2e2e2e;
  --partner-color: #e0ddd4;
  --destructive: #ff3737;
  --destructive-background: #cc2929;
  --destructive-foreground: #ffffff;
  --color-border: #e1e9ec;
  --color-border-mono: #2e2e2e;
  --subbg-bg-4: #eaeff4;
  --toggle-color: #cdfaee;
  --section-bg-6-Linear-top: #fff;
  --section-bg-6-Linear-bot: #f0fdf9;
  --color-summary-info: #687888;
  --color-summary-error: #f23d5c;
  --color-summary-warning: #c6a12f;
  --color-summary-success: #5cb85c;
  /* Background colors */
  --background-color: #ffffff;
  --color-primary-button: #9af5dc;
  --blog-color: #ffffff;
  --asset-bg: #f6f9fa;
  --bg-asset-hover: #9eebdd;
  --active-tab-color: #e8fcf6;
  --active-tab-hover: #cdfaee;
  --color-card: #f8fbfc;
  --color-card-hover: #f0f4f6;
  --color-card-secondary: #ffffff;
  --color-icon-primary: #3f76ff;
  --color-card-hover-secondary: #eff4f5;
  /*changelog tags*/
  --color-bg-feature: #64748b1a;
  --color-text-feature: #334155;
  --color-border-feature: #2b7fff29;
  --color-bg-ui: #ad46ff1a;
  --color-text-ui: #ad46ff;
  --color-border-ui: #ad46ff29;
  --color-bg-improvement: #4ade801a;
  --color-text-improvement: #4ade80;
  --color-border-improvement: #4ade8029;
  --color-bg-bugfix: #f871711a;
  --color-text-bugfix: #f87171;
  --color-border-bugfix: #f8717129;
  --color-bg-performance: #f871711a;
  --color-text-performance: #f87171;
  --color-border-performance: #f8717129;
  --color-bg-breaking-change: #f871711a;
  --color-text-breaking-change: #f87171;
  --color-border-breaking-change: #f8717129;
  --color-bg-beta: #93c5fd1a;
  --color-text-beta: #93c5fd;
  --color-border-beta: #93c5fd29;
  --color-bg-trust-center: #3b82f61a;
  --color-text-trust-center: #1e3a8a;
  --color-border-trust-center: #9af5dc29;
  --color-bg-compliance: #9af5dc1a;
  --color-text-compliance: #065f46;
  --color-border-compliance: #9af5dc29;
  --color-bg-controls: #c084fc1a;
  --color-text-controls: #c084fc;
  --color-border-controls: #c084fc29;
  --color-bg-frameworks: #fbbf241a;
  --color-text-frameworks: #92400e;
  --color-border-frameworks: #fbbf2429;
  --color-bg-automation: #6ee7b71a;
  --color-text-automation: #6ee7b7;
  --color-border-automation: #6ee7b729;
  --color-bg-exposure: #f871711a;
  --color-text-exposure: #f87171;
  --color-border-exposure: #f8717129;
  --color-bg-notifications: #6ee7b71a;
  --color-text-notifications: #6ee7b7;
  --color-border-notifications: #6ee7b729;
  --color-bg-assessments: #a3e6351a;
  --color-text-assessments: #365314;
  --color-border-assessments: #a3e63529;
  --color-bg-registry: #f973161a;
  --color-text-registry: #9a3412;
  --color-border-registry: #f9731640;
  --color-bg-ux: #fb923c1a;
  --color-text-ux: #fb923c;
  --color-border-ux: #fb923c29;
  --color-bg-api: #fb923c1a;
  --color-text-api: #fb923c;
  --color-border-api: #fb923c29;
  --color-bg-ai: #8b5cf61a;
  --color-text-ai: #5b21b6;
  --color-border-ai: #ad46ff29;
  --color-bg-auth: #06b6d41a;
  --color-text-auth: #155e75;
  --color-border-auth: #06b6d440;
  --color-bg-sso: #6366f11a;
  --color-text-sso: #3730a3;
  --color-border-sso: #6366f140;

  --color-customer-testimonial-card-author-border: #2ccbab;
  /* Decoration colors */
  --color-button-border: #09151d1f;
  --color-chips-text: #09151da3;
  --color-chips-border: #09151d29;
  --color-danger: #ef4444;
  --color-danger-muted: #ef44443d;
  --color-title-section: #09151d;
  --decoration-color-primary: #f8a83f;
  --decoration-color-secondary: #cb8b8b;
  --text-Linear-top: #2e2e2e;
  --text-Linear-bot: #16b698;
  --Text-gradient: linear-gradient(
    90deg,
    var(--text) 55.6%,
    var(--text-Linear-bot) 77.99%
  );
  --Text-gradient-white: linear-gradient(
    90deg,
    var(--text-white) 55.6%,
    var(--text-Linear-bot) 77.99%
  );
  --shadow-me: #f9fafb;
  --team-color: #052e2a;
  --text-supporting: #9ca3af;
  --bg-dark: #161f28;
  --bg-accent: #cc3600;
  --border-green: #15803d;
  --border-accent: #ff6933;
  --active-tab-color: #cdfaee;
  --form-border-color: #aabec5;
  --product-hover: #e2e8f0;
  --color-fail: #ff3737;
  --color-asset: #c0c0c0;
  --color-asset-line: #6a6a6a;
  --color-asset-polygon: #e5e7eb;
  --color-infinite: #fbd079;
  --color-text-dark: #2e2e2e;
}

@layer utilities {
  .font-cursive {
    font-family: var(--font-cursive);
  }

  .font-mono {
    font-family: var(--font-mono);
  }

  .cta {
    transition: transform 0.3s ease;
  }

  .cta:hover {
    transform: scale(1.05);
  }

  .group-hover\/feedback\:border-accent {
    --tw-border-opacity: 10;
    border-color: rgba(var(--color-accent), var(--color-accent));
  }

  .group-hover\/menu-item\:bg-asset-hover {
    background-color: var(--bg-asset-hover);
  }

  .border-accent {
    border-color: var(--color-accent);
  }

  .border-mono {
    border-color: var(--color-border-mono);
  }

  .hover\:border-accent:hover {
    border-color: var(--color-accent);
  }

  .text-color-accent {
    color: var(--text-color-accent) !important;
  }

  .underline-primary {
    position: relative;
    display: inline-block;
  }

  .underline-primary::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -2px;
    left: 0;
    z-index: -1;
    background-color: var(--color-brand-600);
    /* clip-path: polygon(
       0 3px,
       calc(100% - 9px) 3px,
       calc(100% - 9px) 0,
       100% 6px,
       calc(100% - 9px) 12px,
       calc(100% - 9px) 9px,
       0 9px
     ); */
  }

  .animate-underline {
    position: relative;
  }

  .animate-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    bottom: 8px;
    left: 0;
    z-index: -1;
    opacity: 1;
    background-color: var(--color-brand-600);
    animation: underlineEaseIn 0.8s ease-out forwards;
  }

  @keyframes underlineEaseIn {
    to {
      width: 100%;
    }
  }

  .transition-color-fill {
    transition:
      color 0.3s ease,
      fill 0.3s ease;
  }

  .border-input {
    border-color: var(--form-border-color);
  }

  .active-tab-bg {
    background: var(--active-tab-color);
    transition: background-color 0.2s ease;
  }

  .active-tab-bg:hover {
    background: var(--active-tab-hover);
  }

  .bg-color-secondary {
    background: var(--color-slate-50);
  }

  .border-green {
    border-color: var(--border-green);
  }

  .bg-dark {
    background: var(--bg-dark);
  }

  .bg-brand-accent {
    background: var(--bg-brand-accent);
  }

  .text-support {
    color: var(--text-supporting) !important;
  }

  .text-white {
    color: var(--text-white) !important;
  }

  .team-bg {
    background-color: var(--team-color);
  }

  .box-shadow {
    box-shadow: 0 -11px 38.3px 0 var(--shadow-me, #111827);
  }

  .asset-bg {
    background-color: var(--asset-bg);
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
  }

  .group\/menu-item:hover .asset-bg {
    background-color: var(--bg-asset-hover);
  }

  .asset-bg-hover {
    background-color: var(--asset-bg);
  }

  .bg-asset-hover {
    background-color: var(--bg-asset-hover);
  }

  .text-color-primary {
    color: var(--color-primary) !important;
  }

  .text-color-secondary {
    color: var(--text-color-secondary) !important;
  }

  .button-color-secondary {
    color: var(--color-brand-500) !important;
  }

  .tab-color {
    color: var(--text) !important;
  }

  .blog-bg-color {
    background-color: var(--blog-color);
  }

  .toggle-bg {
    background-color: var(--toggle-color);
  }

  .hr-color {
    background-color: var(--text);
  }

  .bg-partner {
    background-color: var(--partner-color);
  }

  .border-destructive {
    border-color: var(--destructive);
  }

  .border-accent {
    border-color: var(--border-accent);
  }

  .color-icon-primary {
    color: var(--color-icon-primary) !important;
  }

  .border-color {
    border-color: var(--color-border);
  }

  .bg-subbg-4 {
    background-color: var(--subbg-bg-4);
  }

  .text-invert-primary {
    color: var(--text-invert) !important;
  }

  .decoration-color-primary {
    text-decoration-color: var(--decoration-color-primary);
  }

  .decoration-color-secondary {
    text-decoration-color: var(--decoration-color-secondary);
  }

  .bg-brand-100 {
    background-color: var(--color-brand-100);
  }

  .bg-brand-500 {
    background-color: var(--color-brand-500);
  }

  .text-brand-800 {
    color: var(--color-brand-800);
  }

  .text-brand {
    color: var(--color-primary);
  }

  .color-light {
    color: var(--text-light) !important;
  }

  .bg-color-card {
    background-color: var(--color-card);
  }

  .bg-color-card-secondary {
    background-color: var(--color-card-secondary);
  }

  .bg-card-hover {
    background-color: var(--color-card-hover);
  }

  .text-color {
    color: var(--text) !important;
  }

  .feature-bg {
    background: radial-gradient(
      296.41% 296.41% at 50% 0%,
      var(--section-bg-6-Linear-top, #fff) 0%,
      var(--section-bg-6-Linear-bot, #f0fdf9) 17%
    );
  }

  .footer-bg {
    background: radial-gradient(
      296.41% 296.41% at 50% 0%,
      var(--section-bg-6-Linear-top, #144d45) 0%,
      var(--section-bg-6-Linear-bot, #161f28) 17%
    );
  }

  .text-gradient {
    background: var(
      --Text-gradient,
      linear-gradient(
        90deg,
        var(--text-Linear-top, #2e2e2e) 55.6%,
        var(--text-Linear-bot, #16b698) 77.99%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-bottom: 0.3em;
  }

  .text-gradient-white {
    background: var(
      --Text-gradient-white,
      linear-gradient(
        90deg,
        var(--text-Linear-top, #2e2e2e) 55.6%,
        var(--text-Linear-bot, #16b698) 77.99%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-bottom: 0.3em;
  }

  .fade-bottom {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes float-delayed {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 6s ease-in-out infinite;
}

.animate-pulse {
  animation: pulse 4s ease-in-out infinite;
}

.text-gradient-animate {
  background-size: 200% auto;
  background-image: linear-gradient(
    90deg,
    var(--text) 30%,
    var(--color-primary) 60%,
    var(--text) 90%
  );
  animation: gradient 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}

.hero-dots {
  position: absolute;
  inset: 0;

  background-image: radial-gradient(
    circle,
    rgba(44, 203, 171, 0.25) 1px,
    transparent 1px
  );
  background-size: 22px 22px;

  mask-image: linear-gradient(to top, black 0%, black 55%, transparent 85%);
  -webkit-mask-image: linear-gradient(
    to top,
    black 0%,
    black 55%,
    transparent 85%
  );
}

.bg-mission-dark {
  background-image: url("/bg-dark.webp");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black overlay with 20% opacity */
  background-blend-mode: overlay;
}

.bg-mission-light {
  background-image: url("/bg-light.webp");
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  overflow-x: hidden;
}

main {
  /*width: 1291px;
   max-width: calc(100% - 2em);
   margin: auto;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem 0;
  line-height: 1.2;
  color: var(--text);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 500;
}

a {
  color: var(--text-color-primary);
}

a.footer-anchor {
  color: var(--text-color-a);
}

p {
  color: var(--text);
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

hr {
  border: none;
}

button {
  color: var(--text-color-accent);
}

li {
  color: var(--text);
}

.footer-links {
  color: var(--text-color-a) !important;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

/* Hover Styles */

a {
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Basic links (not buttons or special components) */
a:not([class]):not(:has(img)):not(:has(p)):not(:has(svg)),
p:not(.text-3xl):not(.font-medium)
  > a:not(.flex):not([class*="group"]):not(:has(svg)),
li > a:not(.flex):not([class*="group"]):not(:has(img)):not(:has(svg)) {
  position: relative;
}

/* Underline effect only for basic links */
a:not([class]):not(:has(img)):not(:has(p)):not(:has(svg)):after,
p:not(.text-3xl):not(.font-medium)
  > a:not(.flex):not([class*="group"]):not(:has(svg)):after,
li > a:not(.flex):not([class*="group"]):not(:has(img)):not(:has(svg)):after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:not([class]):not(:has(img)):not(:has(p)):not(:has(svg)):hover:after,
p:not(.text-3xl):not(.font-medium)
  > a:not(.flex):not([class*="group"]):not(:has(svg)):hover:after,
li
  > a:not(.flex):not([class*="group"]):not(:has(img)):not(
    :has(svg)
  ):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes polygon2Cycle {
  0%,
  16.66% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  83.33% {
    opacity: 1;
  }

  91.66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes polygon3Cycle {
  0%,
  33.33% {
    opacity: 0;
  }

  41.66% {
    opacity: 1;
  }

  66.66% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.polygon-second {
  animation: polygon2Cycle 6s ease-in-out infinite;
}

.polygon-third {
  animation: polygon3Cycle 6s ease-in-out infinite;
}

section[id] {
  scroll-margin-top: 100px;
}

/** Used for rich text editor **/
/** Margin between paragraphs **/
.prose p {
  margin-bottom: 1rem;
}

/** Dot bullets **/
.list-bullet {
  list-style: disc;
  margin-left: 40px;
}

/** Number bullets **/
.list-number {
  list-style: decimal;
  margin-left: 40px;
}

picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fade-in-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.5s ease;
}

.fade-in-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.grecaptcha-badge {
  visibility: hidden;
}
