/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";
@import "@fontsource/outfit/100.css";
@import "@fontsource/outfit/300.css";
@import "@fontsource/outfit";
@import "@fontsource/outfit/200.css";
@import "@fontsource/outfit/400.css";
@import "@fontsource/outfit/500.css";
@import "@fontsource/outfit/600.css";
@import "@fontsource/outfit/700.css";
@import "@fontsource/outfit/800.css";
@import "@fontsource/outfit/900.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Outfit", "sans-serif";
  /* Text colors */
  --text: #2e2e2e;
  --text-invert: #ffffff;
  --text-white: #ffffff;
  --text-light: #aabec5;
  --color-card: #f6f9fa;
  --color-card-hover: #f0f4f6;
  --color-card-secondary: #f0f4f6;
  --color-icon-primary: #3f76ff;

  /* Old colors */
  --color-primary: #9eebdd;
  --color-secondary: #b0aa9c;
  --color-accent: #cc3600;
  --text-color-primary: #2e2e2e;
  --text-color-secondary: #448c84;
  --text-color-accent: #cc3600;
  --color-blue-50: #0057b5;
  --color-slate-50: #f8fafc;
  --color-brand-50: #f1fcf9;
  --color-brand-100: #d1f6ee;
  --color-brand-200: #9eebdd;
  --color-brand-300: #6ddbcb;
  --color-brand-400: #3fc2b4;
  --color-brand-500: #26a69a;
  --color-brand-600: #1b867d;
  --color-brand-700: #1a6b66;
  --color-brand-800: #195653;
  --color-brand-900: #194846;
  --color-brand-950: #092a2a;
  --color-slate-700: #f8a83f;
  --color-accent-50: #fff6ec;
  --color-accent-100: #ffecd2;
  --color-accent-200: #ffd5a4;
  --color-accent-300: #ffb66b;
  --color-accent-400: #ff8b2f;
  --color-accent-500: #ff6907;
  --color-accent-600: #f94c00;
  --color-accent-700: #cc3600;
  --color-accent-800: #a32c09;
  --color-accent-900: #83270b;
  --color-accent-950: #471003;
  --partner-color: #b0aa9c;
  --destructive: #ff3737;
  --destructive-background: #cc2929;
  --destructive-foreground: #ffffff;
  --color-border: #e1e9ec;
  --subbg-bg-4: #eaeff4;
  --toggle-color: #cdfaee;
  --section-bg-6-Linear-top: #fff;
  --section-bg-6-Linear-bot: #f0fdf9;

  /* Background colors */
  --background-color: #f8fbfc;
  --blog-color: #ffffff;
  --asset-bg: #f6f9fa;
  --bg-asset-hover: #9eebdd;
  --active-tab-color: #e8fcf6;
  --active-tab-hover: #cdfaee;

  /* Decoration colors */
  --decoration-color-primary: #f8a83f;
  --decoration-color-secondary: #cb8b8b;
  --text-Linear-top: #2e2e2e;
  --text-Linear-bot: #16b698;
  --Text-gradient: linear-gradient(
    90deg,
    var(--text) 55.6%,
    var(--text-Linear-bot) 77.99%
  );
  --shadow-me: #f9fafb;
  --team-color: #052e2a;
  --text-supporting: #9ca3af;
  --bg-dark: #161f28;
  --bg-accent: #cc3600;
  --border-green: #15803d;
  --border-accent: #ff6933;
  --active-tab-color: #cdfaee;
  --form-border-color: #aabec5;
  --product-hover: #e2e8f0;
  --color-fail: #ff3737;
  --color-asset: #e2e8f0;
  --color-asset-line: #cbd5e1;
  --color-asset-polygon: #e5e7eb;
  --color-infinite: #fbd079;
  --color-text-dark: #2e2e2e;
}

.dark {
  /* Text colors */
  --text: #f0f0f0;
  --text-white: #ffffff;
  --text-invert: #2e2e2e;
  --text-light: #aabdc5;
  --color-slate-700: #334155;
  --color-brand-50: #f0fdf8;
  --color-brand-100: #cdfaeb;
  --color-brand-200: #9bf4d9;
  --color-brand-300: #62e6c3;
  --color-brand-400: #31d0a9;
  --color-brand-500: #18b491;
  --color-brand-600: #109176;
  --color-brand-700: #127361;
  --color-brand-800: #146153;
  --color-brand-900: #154c43;
  --color-brand-950: #052e28;
  --color-accent-50: #fff4ed;
  --color-accent-100: #ffe5d4;
  --color-accent-200: #ffc7a8;
  --color-accent-300: #ffa071;
  --color-accent-400: #ff6933;
  --color-accent-500: #fe4611;
  --color-accent-600: #ef2c07;
  --color-accent-700: #c61c08;
  --color-accent-800: #9d190f;
  --color-accent-900: #7e1810;
  --color-accent-950: #440706;
  --color-slate-50: #11171c;
  --color-card: #11171c;
  --color-card-hover: #1e252b;
  --color-card-secondary: #1e252b;
  --section-bg-6-Linear-top: #144d45;
  --section-bg-6-Linear-bot: #161f28;
  --subbg-bg-4: #1c2630;
  --color-border: #303e4a;
  --color-icon-primary: #3f76ff;
  --destructive: #ff3737;
  --destructive-background: #cc2929;
  --destructive-foreground: #ffffff;
  --partner-color: #635d4f;
  --toggle-color: #144d45;

  /* Old colors */
  --color-primary: #146153;
  --color-secondary: #635d4f;
  --color-accent: #ff6933;
  --text-color-accent: #ff6933;
  --bg-accent: #ff6933;
  --text-color-primary: #f0f0f0;
  --text-color-secondary: #448c84;
  --color-brand-100: #c07007;

  /* Background colors */
  --background-color: #030607;
  --blog-color: #000000;
  --asset-bg: #11171c;
  --bg-asset-hover: #146153;
  --active-tab-color: #1a3f3a;
  --active-tab-hover: #144d45;

  /* Decoration colors */
  --decoration-color-primary: #ff6933;
  --decoration-color-secondary: #ff6933;
  --shadow-me: #111827;
  --team-color: #000000;
  --text-supporting: #9ca3af;
  --text-Linear-top: #f0f0f0;
  --bg-dark: #161f28;
  --bg-accent: #ff6933;
  --border-green: #15803d;
  --border-accent: #ff6933;
  --active-tab-color: #144d45;
  --form-border-color: #107565;
  --product-hover: #334155;
  --color-fail: #ff3737;
  --color-asset: #334155;
  --color-asset-line: #475569;
  --color-asset-polygon: #4b5563;
  --color-infinite: #1e293b;
  --color-text-dark: #2e2e2e;
}

@layer utilities {
  .group-hover\/feedback\:border-accent {
    --tw-border-opacity: 10;
    border-color: rgba(var(--color-accent), var(--color-accent));
  }

  .group-hover\/menu-item\:bg-asset-hover {
    background-color: var(--bg-asset-hover);
  }

  .border-primary {
    border-color: var(--color-accent);
  }

  .hover\:border-primary:hover {
    border-color: var(--color-accent);
  }

  .text-color-accent {
    color: var(--text-color-accent) !important;
  }

  .underline-primary {
    position: relative;
    display: inline-block;
  }

  .underline-primary::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 12px;
    bottom: -2px;
    left: 0;
    z-index: -1;
    background-color: var(--color-primary);
    clip-path: polygon(
      0 3px,
      calc(100% - 9px) 3px,
      calc(100% - 9px) 0,
      100% 6px,
      calc(100% - 9px) 12px,
      calc(100% - 9px) 9px,
      0 9px
    );
  }

  .animate-underline {
    position: relative;
  }

  .animate-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 16px;
    bottom: 8px;
    left: 0;
    z-index: -1;
    opacity: 1;
    background-color: var(--color-primary);
    animation: underlineEaseIn 0.8s ease-out forwards;
    clip-path: polygon(
      0 4px,
      calc(100% - 12px) 4px,
      calc(100% - 12px) 0,
      100% 8px,
      calc(100% - 12px) 16px,
      calc(100% - 12px) 12px,
      0 12px
    );
  }

  @keyframes underlineEaseIn {
    to {
      width: 100%;
    }
  }

  .transition-color-fill {
    transition:
      color 0.3s ease,
      fill 0.3s ease;
  }

  .border-input {
    border-color: var(--form-border-color);
  }

  .active-tab-bg {
    background: var(--active-tab-color);
    transition: background-color 0.2s ease;
  }

  .active-tab-bg:hover {
    background: var(--active-tab-hover);
  }

  .bg-slate-50 {
    background: var(--color-slate-50);
  }

  .border-green {
    border-color: var(--border-green);
  }

  .bg-dark {
    background: var(--bg-dark);
  }

  .text-support {
    color: var(--text-supporting) !important;
  }

  .text-white {
    color: var(--text-white) !important;
  }

  .team-bg {
    background-color: var(--team-color);
  }

  .box-shadow {
    box-shadow: 0 -11px 38.3px 0 var(--shadow-me, #111827);
  }

  .asset-bg {
    background-color: var(--asset-bg);
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
  }

  .group\/menu-item:hover .asset-bg {
    background-color: var(--bg-asset-hover);
  }

  .asset-bg-hover {
    background-color: var(--asset-bg);
  }

  .bg-asset-hover {
    background-color: var(--bg-asset-hover);
  }

  .text-color-primary {
    color: var(--color-primary) !important;
  }

  .text-color-secondary {
    color: var(--color-secondary) !important;
  }

  .blog-bg-color {
    background-color: var(--blog-color);
  }

  .toggle-bg {
    background-color: var(--toggle-color);
  }

  .bg-partner {
    background-color: var(--partner-color);
  }

  .border-destructive {
    border-color: var(--destructive);
  }

  .border-accent {
    border-color: var(--border-accent);
  }

  .color-icon-primary {
    color: var(--color-icon-primary) !important;
  }

  .border-color {
    border-color: var(--color-border);
  }

  .bg-subbg-4 {
    background-color: var(--subbg-bg-4);
  }

  .text-invert-primary {
    color: var(--text-invert) !important;
  }

  .decoration-color-primary {
    text-decoration-color: var(--decoration-color-primary);
  }

  .decoration-color-secondary {
    text-decoration-color: var(--decoration-color-secondary);
  }

  .bg-brand-100 {
    background-color: var(--color-brand-100);
  }

  .text-brand-800 {
    color: var(--color-brand-800);
  }

  .text-brand {
    color: var(--color-primary);
  }

  .color-light {
    color: var(--text-light) !important;
  }

  .bg-color-card {
    background-color: var(--color-card);
  }

  .bg-color-card-secondary {
    background-color: var(--color-card-secondary);
  }

  .bg-card-hover {
    background-color: var(--color-card-hover);
  }

  .text-color {
    color: var(--text);
  }

  .feature-bg {
    background: radial-gradient(
      296.41% 296.41% at 50% 0%,
      var(--section-bg-6-Linear-top, #fff) 0%,
      var(--section-bg-6-Linear-bot, #f0fdf9) 17%
    );
  }

  .footer-bg {
    background: radial-gradient(
      296.41% 296.41% at 50% 0%,
      var(--section-bg-6-Linear-top, #144d45) 0%,
      var(--section-bg-6-Linear-bot, #161f28) 17%
    );
  }

  .text-gradient {
    background: var(
      --Text-gradient,
      linear-gradient(
        90deg,
        var(--text-Linear-top, #2e2e2e) 55.6%,
        var(--text-Linear-bot, #16b698) 77.99%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-bottom: 0.3em;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float-delayed {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 6s ease-in-out infinite;
}

.animate-pulse {
  animation: pulse 4s ease-in-out infinite;
}

.text-gradient-animate {
  background-size: 200% auto;
  background-image: linear-gradient(
    90deg,
    var(--text) 30%,
    var(--color-primary) 60%,
    var(--text) 90%
  );
  animation: gradient 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.bg-mission-dark {
  background-image: url("/bg-dark.webp");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 20% opacity */
  background-blend-mode: overlay;
}

.bg-mission-light {
  background-image: url("/bg-light.webp");
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
  overflow-x: hidden;
}
main {
  /*width: 1291px;
  max-width: calc(100% - 2em);
  margin: auto;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  color: var(--text);
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--text-color-primary);
}
p {
  color: var(--text);
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
}
button {
  color: var(--text-color-accent);
}

li {
  color: var(--text);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

/* Hover Styles */

a {
  transition: color 0.3s ease;
  text-decoration: none;
}

a:hover {
  transition: color 0.3s ease;
  color: var(--color-accent);
}
