---
import { CircleCheckBig } from "@lucide/astro";
---

<section
  class="pt-10 bg-color-secondary rounded-t-[60px] rounded-b-none border-t border-color box-shadow px-6"
>
  <div class="mx-auto max-w-[800px]">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color px-2 sm:px-6"
    >
      What are Policies and Procedures?
    </p>
  </div>
  <div class="mx-auto max-w-[800px] px-2 sm:px-6">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Policies and procedures define how your organization operates. Policies
        set direction and expectations; procedures explain how to carry them
        out. Together, they bring structure, consistency, and compliance to your
        day-to-day work.
      </p>
    </div>
  </div>

  <div class="mx-auto max-w-[800px] mt-10">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color px-2 sm:px-6"
    >
      Why are Policies and Procedures Important?
    </p>
  </div>
  <div class="mx-auto max-w-[800px] px-2 sm:px-6">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Clear policies and procedures help your team make decisions, stay
        compliant, and reduce risk. They:
      </p>
    </div>
    <div class="flex items-start gap-2 pt-5">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Support legal and regulatory compliance
      </p>
    </div>

    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">Safeguard sensitive data</p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Promote accountability and transparency
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Drive operational efficiency and consistency
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Reduce risk and help prevent security incidents
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0"
      />
      <p class="font-normal text-lg leading-7">
        Clarify responsibilities and reporting lines
      </p>
    </div>
  </div>
</section>
