---
import { ChevronRight, CircleCheckBig, Lightbulb } from "@lucide/astro";
import LineShot from "../../components/assets/LineShot.astro";
---

<section
  class="pt-20 bg-color-secondary rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div class="mx-auto max-w-[800px]">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color px-2 sm:px-6"
    >
      What are Policies and Procedures?
    </p>
  </div>
  <div class="mx-auto max-w-[800px] px-2 sm:px-6">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Policies and procedures are formal documents that outline the rules,
        guidelines, and standards that govern an organization’s operations.
        Policies define the organization’s goals and objectives, while
        procedures provide detailed instructions on how to achieve those goals.
        Together, policies and procedures help ensure consistency,
        accountability, and compliance across the organization.
      </p>
    </div>
  </div>

  <div class="mx-auto max-w-[800px] mt-10">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color px-2 sm:px-6"
    >
      Why are Policies and Procedures Important?
    </p>
  </div>
  <div class="mx-auto max-w-[800px] px-2 sm:px-6">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Policies and procedures play a critical role in the success of an
        organization. They provide a roadmap for decision-making, guide employee
        behavior, and help mitigate risks. By establishing clear policies and
        procedures, organizations can:
      </p>
    </div>
    <div class="flex items-start gap-2 pt-5">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Ensure compliance with laws and regulations
      </p>
    </div>

    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Protect sensitive information and data
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Promote a culture of accountability and transparency
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Improve operational efficiency and consistency
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0 mb-2"
      />
      <p class="font-normal text-lg leading-7">
        Minimize risks and prevent security breaches
      </p>
    </div>
    <div class="flex items-start gap-2">
      <CircleCheckBig
        class="text-color-primary w-[20px] h-[20px] mt-1 shrink-0"
      />
      <p class="font-normal text-lg leading-7">
        Documents can inform employees about exactly what they need to do and
        who to report to in various situations
      </p>
    </div>
  </div>
</section>
