---
import { ChevronRight, CircleCheckBig, Lightbulb } from "@lucide/astro";
import LineShot from "../../components/assets/LineShot.astro";
---

<section
  class="pt-20 bg-slate-50 rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div class="mx-auto max-w-[668px]">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color px-2 sm:px-6"
    >
      Policy & Procedure management
    </p>
  </div>
  <div class="mx-auto max-w-[668px] px-2 sm:px-6">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Café java seasonal lait au french in aroma extra espresso sit eu spice.
        Flavour medium pumpkin redeye medium qui latte extra au extraction extra
        americano doppio ristretto.
      </p>
    </div>
  </div>

  <div class="mx-auto max-w-[668px] mt-10">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color px-2 sm:px-6"
    >
      Dynamic Compliance Tracking and Monitoring
    </p>
  </div>
  <div class="mx-auto max-w-[668px] px-2 sm:px-6">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Openlane goes beyond simply storing documents; it provides dynamic
        tracking and monitoring capabilities that enable users to actively
        manage compliance status. The platform allows for the creation of
        customized compliance checklists and workflows, ensuring that all
        necessary steps are completed and documented. Users can track the
        progress of each task, identify potential bottlenecks, and receive
        automated alerts for upcoming deadlines or overdue items.
      </p>
    </div>
  </div>
</section>
