---
import OpenLaneDark from "../../components/icons/OpenLaneDark.astro";
import OpenLaneLight from "../../components/icons/OpenLaneLight.astro";
---

<section class="pt-10 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <p
      class="sm:text-5xl md:text-4xl leading-10 letter-spacing-[-0.9px] font-normal text-gradient text-color"
    >
      We're building a compliance solution that is simple, transparent, and open
      for everyone.
    </p>

    <div class="flex justify-center gap-4">
      <OpenLaneDark />
      <OpenLaneLight />
    </div>
  </div>
</section>
