---

---

<section
  class="py-20 px-2 sm:px-6 text-center bg-color-secondary rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div class="mx-auto max-w-[668px]">
    <p
      class="sm:text-5xl md:text-4xl leading-10 letter-spacing-[-0.9px] font-normal text-color"
    >
      Our Story
    </p>
  </div>
  <div class="mx-auto max-w-4xl">
    <div class="mt-6 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        As engineering and operations leaders, we've repeatedly felt the pain of
        underinvestment in tools, processes, and automation - especially when it
        comes to security and compliance. Our expertise building security and
        compliance programs across companies and industries has taught us that
        treating compliance as a seasonal effort leads to rushed tests,
        last-minute evidence gathering, and crossed fingers during audits. We
        know there is a better way!
      </p>
    </div>

    <div class="w-16 h-px hr-color mx-auto my-8"></div>
    <div class="mx-auto max-w-[668px]">
      <p
        class="sm:text-3xl md:text-2xl leading-10 letter-spacing-[-0.9px] font-normal text-color"
      >
        That's why we built Openlane.
      </p>
    </div>
    <div class="mt-6 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        We bring clarity, control, an automation to modern compliance. Our
        passion is helping growing companies get compliant faster -with fewer
        spreadsheets and less guesswork. We believe security and compliance
        should be accessible to all. Our vision is a future where individuals
        and enterprises collaborate to tackle endless cyber threads and manage
        risk - together.
      </p>
    </div>
  </div>
</section>
