---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../layouts/waitlist/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Pricing from "../layouts/pricing/Pricing.astro";
import WaitlistHeader from "../layouts/waitlist/WaitlistHeader.astro";
import MainSection from "../layouts/waitlist/MainSection.astro";
import JoinBeta from "../layouts/waitlist/JoinBeta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-outfit">
    <WaitlistHeader />
    <main>
      <MainSection />
      <JoinBeta />
    </main>
    <Footer />
  </body>
</html>
