---
import GithubIcon from "./icons/GithubIcon.astro";
import { Linkedin, Instagram } from "@lucide/astro";
import DiscordIcon from "./icons/DiscordIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import ThemeToggle from "./ThemeToggle";
import OpenlaneStatus from "./OpenlaneStatus";
---

<footer class="w-full footer-bg py-20 px-2 md:px-22">
  <div class="max-w-[1290px] mx-auto flex flex-col gap-10">
    <div class="flex flex-wrap gap-8">
      <div class="flex flex-col w-[348px]">
        <a href="/" class="flex items-center space-x-2">
          <img
            src="/logo/openlane-logo-dark.svg"
            alt="Openlane Logo"
            class="h-6 w-auto mr-0 dark:hidden"
          />
          <img
            src="/logo/openlane-logo-light.svg"
            alt="Openlane Logo"
            class="h-6 w-auto hidden dark:block"
          />
        </a>
      </div>

      <div class="flex flex-col gap-8 flex-1">
        <div class="flex w-full justify-between">
          <div class="flex flex-col gap-2 min-w-[120px] items-start">
            <p class="text-sm font-normal color-light">Product</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li><a href="/product/compliance">Compliance Automation</a></li>
              <li>
                <a href="/product/compliance-management"
                  >Compliance Management</a
                >
              </li>
              <li>
                <a href="/product/policy-and-procedure-management"
                  >Policy and Procedure Management</a
                >
              </li>
              <li><a href="/product/risk-assessment">Risk Assessment</a></li>
            </ul>
          </div>

          <div class="flex flex-col gap-2 min-w-[120px] items-center">
            <p class="text-sm font-normal color-light">Company</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li><a href="/company/about">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/company/contact">Contact</a></li>
            </ul>
          </div>

          <div class="flex flex-col gap-2 min-w-[120px]">
            <p class="text-sm font-normal color-light">Social</p>
            <ul class="flex flex-col gap-2 text-sm">
              <!--<li class="flex items-center gap-2">
                  <a class="flex items-center gap-2" href="#">
                    <TwitterIcon /> Twitter (X)
                  </a>
                </li>-->
              <li>
                <a
                  class="flex items-center gap-2 group"
                  target="_blank"
                  href="https://www.instagram.com/openlanesaas/"
                >
                  <Instagram
                    size={19}
                    class="text-color group-hover:text-brand-300 transition-all duration-300"
                  />
                  Instagram
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://discord.gg/4fq2sxDk7D"
                >
                  <DiscordIcon />
                  Discord
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2 group"
                  target="_blank"
                  href="https://www.linkedin.com/company/theopenlane/"
                >
                  <Linkedin
                    size={19}
                    class="text-color group-hover:text-brand-300 transition-all duration-300"
                  />
                  LinkedIn
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://github.com/theopenlane"
                >
                  <GithubIcon />
                  GitHub
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col w-full border-t border-border pt-6">
          <div class="flex items-center justify-between text-sm w-full">
            <div class="flex items-center gap-2">
              <OpenlaneStatus client:load />
            </div>
            <ThemeToggle client:load />
          </div>

          <div
            class="flex flex-wrap gap-2 sm:gap-4 text-xs mt-[21px] text-left max-w-[50%] sm:max-w-full"
          >
            <a href="/legal#cookie" class="color-light hover:!text-brand-300"
              >Cookie Policy</a
            >
            <a href="/legal#dpa" class="color-light hover:!text-brand-300"
              >DPA</a
            >
            <a href="/legal#terms" class="color-light hover:!text-brand-300"
              >Terms of Service</a
            >
            <a href="/legal#sub" class="color-light hover:!text-brand-300"
              >Subprocessors</a
            >
            <a href="/legal#privacy" class="color-light hover:!text-brand-300"
              >Privacy Policy</a
            >
          </div>

          <div
            class="flex justify-start sm:justify-between items-center text-xs mt-1 text-left"
          >
            <p class="color-light">
              © Copyright theopenlane, Inc. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
