---
import GithubIcon from "./icons/GithubIcon.astro";
import { Linkedin, Instagram } from "@lucide/astro";
import DiscordIcon from "./icons/DiscordIcon.astro";
import ThemeToggle from "./ThemeToggle";
import OpenlaneStatus from "./OpenlaneStatus";
---

<footer class="w-full footer-bg py-20 px-4 md:px-22">
  <div class="max-w-[1290px] mx-auto flex flex-col gap-10">
    <div class="flex flex-col md:flex-row md:flex-wrap gap-8">
      <div class="w-full md:w-[348px] flex flex-col">
        <a href="/" class="flex items-center space-x-2">
          <img
            src="/logo/openlane-logo-dark.svg"
            alt="Openlane Logo"
            class="h-6 w-auto mr-0 dark:hidden"
          />
          <img
            src="/logo/openlane-logo-light.svg"
            alt="Openlane Logo"
            class="h-6 w-auto hidden dark:block"
          />
        </a>
      </div>

      <div class="flex flex-col gap-8 flex-1 w-full">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
          <div class="flex flex-col gap-2">
            <p class="text-sm font-normal color-light">Products</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li><a href="/product/compliance">Compliance Automation</a></li>
              <li>
                <a href="/product/compliance-management"
                  >Compliance Management</a
                >
              </li>
              <li>
                <a href="/product/policy-and-procedure-management"
                  >Policy & Procedure Management</a
                >
              </li>
              <li><a href="/product/frameworks">Frameworks</a></li>
            </ul>
          </div>

          <div class="flex flex-col gap-2 md:ml-8">
            <p class="text-sm font-normal color-light">Legal</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li><a href="/legal/dpa">DPA</a></li>
              <li><a href="/legal/cookie-policy">Cookie Policy</a></li>
              <li><a href="/legal/terms-of-service">Terms of Service</a></li>
              <li><a href="/legal/subprocessors">Subprocessors</a></li>
              <li><a href="/legal/privacy">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="flex flex-col gap-2">
            <p class="text-sm font-normal color-light">Company</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li><a href="/company/about">About Us</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/company/support">Support</a></li>
              <li><a href="/company/contact">Contact</a></li>
            </ul>
          </div>

          <div class="flex flex-col gap-2">
            <p class="text-sm font-normal color-light">Social</p>
            <ul class="flex flex-col gap-2 text-sm">
              <li>
                <a
                  class="flex items-center gap-2 group"
                  target="_blank"
                  href="https://www.instagram.com/openlanesaas/"
                >
                  <Instagram
                    size={19}
                    class="text-color group-hover:text-brand-300 transition-all duration-300"
                  />
                  Instagram
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://discord.gg/4fq2sxDk7D"
                >
                  <DiscordIcon />
                  Discord
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2 group"
                  target="_blank"
                  href="https://www.linkedin.com/company/theopenlane/"
                >
                  <Linkedin
                    size={19}
                    class="text-color group-hover:text-brand-300 transition-all duration-300"
                  />
                  LinkedIn
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://github.com/theopenlane"
                >
                  <GithubIcon />
                  GitHub
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col w-full border-t border-border pt-6 gap-4">
          <div
            class="flex flex-col sm:flex-row items-start sm:items-center justify-between text-sm w-full gap-4"
          >
            <div class="flex items-center gap-2">
              <OpenlaneStatus client:load />
            </div>
            <ThemeToggle client:load />
          </div>

          <div class="text-xs color-light text-left sm:text-right">
            <p>Copyright © 2025 theopenlane, Inc. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
