---
import GithubIcon from "./icons/GithubIcon.astro";
import { Linkedin, Instagram } from "@lucide/astro";
import DiscordIcon from "./icons/DiscordIcon.astro";
import TwitterIcon from "./icons/TwitterIcon.astro";
import ThemeToggle from "./ThemeToggle";
---

<footer class="w-full footer-bg py-[65px] px-3 sm:px-0">
  <div class="max-w-[1290px] mx-auto flex flex-col gap-10">
    <div class="flex flex-wrap gap-8">
      <div class="flex flex-col w-[348px]">
        <a href="/" class="flex items-center space-x-2">
          <img
            src="/logo/openlane-logo-dark.svg"
            alt="Openlane Logo"
            class="h-6 w-auto mr-0 dark:hidden"
          />
          <img
            src="/logo/openlane-logo-light.svg"
            alt="Openlane Logo"
            class="h-6 w-auto hidden dark:block"
          />
        </a>
      </div>

      <div class="flex flex-col gap-8 flex-1">
        <div class="flex w-full justify-between">
          <div class="flex flex-col gap-2 min-w-[120px] items-start">
            <p class="text-sm font-normal color-light">Product</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li>Lorem Ipsum</li>
              <li>Sit Amet Dolor</li>
              <li>Lorem Ipsum</li>
              <li>Sit Amet Dolor</li>
            </ul>
          </div>

          <div class="flex flex-col gap-2 min-w-[120px] items-center">
            <p class="text-sm font-normal color-light">Company</p>
            <ul class="flex flex-col gap-1 text-sm">
              <li>About Us</li>
              <li>Blog</li>
              <li>Contact</li>
            </ul>
          </div>

          <div class="flex flex-col gap-2 min-w-[120px]">
            <p class="text-sm font-normal color-light">Social</p>
            <ul class="flex flex-col gap-2 text-sm">
              <!--<li class="flex items-center gap-2">
                  <a class="flex items-center gap-2" href="#">
                    <TwitterIcon /> Twitter (X)
                  </a>
                </li>-->
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://www.instagram.com/openlanesaas/"
                >
                  <Instagram size={19} class="text-color" />
                  Instagram
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://discord.gg/4fq2sxDk7D"
                >
                  <DiscordIcon />
                  Discord
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://www.linkedin.com/company/theopenlane/"
                >
                  <Linkedin size={19} class="text-color" />
                  LinkedIn
                </a>
              </li>
              <li>
                <a
                  class="flex items-center gap-2"
                  target="_blank"
                  href="https://github.com/theopenlane"
                >
                  <GithubIcon />
                  GitHub
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col w-full border-t border-border pt-6">
          <div
            class="flex flex-col sm:flex-row items-start sm:items-center justify-between text-sm w-full"
          >
            <div class="flex items-center gap-2 mb-4 sm:mb-0">
              <span class="w-2 h-2 rounded-full bg-green-500"></span>
              <p>All systems operational</p>
            </div>
            <ThemeToggle client:load />
          </div>

          <div
            class="flex flex-wrap gap-2 sm:gap-4 text-xs mt-[21px] text-left max-w-[50%] sm:max-w-full"
          >
            <p class="color-light">Cookie Policy</p>
            <p class="color-light">DPA</p>
            <p class="color-light">Terms of Service</p>
            <p class="color-light">Subprocessors</p>
            <p class="color-light">Privacy Policy</p>
          </div>

          <div
            class="flex justify-start sm:justify-between items-center text-xs mt-4 text-left"
          >
            <p class="color-light">
              © Copyright theopenlane, Inc. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
