---
import { ChevronDown, BookText, ChevronRight, Menu } from "@lucide/astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import DropdownButton from "./DropdownButton.astro";
import MegaMenu from "../layouts/homepage/menu/MegaMenu.astro";
---

<header>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex items-center space-x-8">
        <a href="/" class="flex items-center space-x-2">
          <img
            src="/logo/openlane-logo-dark.svg"
            alt="Openlane Logo"
            class="h-6 w-auto mr-0 dark:hidden"
          />
          <img
            src="/logo/openlane-logo-light.svg"
            alt="Openlane Logo"
            class="h-6 w-auto hidden dark:block"
          />
        </a>

        <nav class="hidden lg:flex space-x-6 text-sm relative z-50">
          <MegaMenu label="Product" />
          <MegaMenu label="Resources" />
          <MegaMenu label="Company" />
        </nav>
      </div>

      <div class="flex items-center space-x-6">
        <a
          href="/docs"
          class="flex items-center gap-1 text-sm font-medium hidden lg:flex"
        >
          <BookText size={14} />
          <span>Docs</span>
        </a>

        <a
          href="/docs"
          class="flex items-center gap-1 text-sm font-medium hidden lg:flex"
        >
          <GithubIcon size={14} />
          <span>Github</span>
        </a>

        <a
          href="/get-started"
          class="text-sm font-semibold px-4 py-2 rounded-full bg-primary text-invert-primary inline-flex items-center gap-2 whitespace-nowrap"
        >
          Get Started <ChevronRight size={18} class="hidden lg:flex" />
        </a>

        <Menu size={23} class="block lg:hidden text-color" />
      </div>
    </div>
  </div>
</header>
