---
import MegaMenu from "../layouts/homepage/menu/MegaMenu.astro";
import MobileMenu from "../layouts/homepage/menu/MobileMenu.tsx";
import PrimaryBtn from "./buttons/PrimaryBtn.astro";
import SecondaryButton from "./buttons/SecondaryButton.astro";
import OpenlaneLogo from "./shared/openlane-logo.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class="sticky top-0 z-50 w-full bg-white backdrop-blur-md transition-all duration-300 box-shadow border-b border-color"
>
  <div class="mx-auto w-full max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <a href="/" class="flex items-center space-x-2">
        <OpenlaneLogo class="h-6 w-32.5 mr-0" />
      </a>

      <nav class="hidden lg:flex space-x-8 text-sm relative z-50">
        <MegaMenu label="Product" to="product" currentPath={currentPath} />
        <div class="relative group">
          <a
            href="/pricing"
            class=`${currentPath.includes("pricing") ? "text-color-accent!" : ""}  flex items-center gap-1 text-base font-medium text-inherit cursor-pointer`
          >
            Pricing
          </a>
        </div>
        <div class="relative group">
          <a
            href="/customers"
            class=`${currentPath.includes("customers") ? "text-color-accent!" : ""} flex items-center gap-1 text-base font-medium text-inherit cursor-pointer`
          >
            Customers
          </a>
        </div>
        <MegaMenu label="Alliances" to="alliances" currentPath={currentPath} />
        <div class="relative group">
          <a
            href="/blog"
            class=`${currentPath.includes("blog") ? "text-color-accent" : ""} flex items-center gap-1 text-base font-medium text-inherit cursor-pointer`
          >
            Blog
          </a>
        </div>
        <div class="relative group">
          <a
            href="https://docs.theopenlane.io/"
            target="_blank"
            class=`flex items-center gap-1 text-base font-medium text-inherit cursor-pointer`
          >
            Docs
          </a>
        </div>
        <MegaMenu label="Company" to="company" currentPath={currentPath} />
      </nav>

      <div class="flex items-center gap-4">
        <div class="hidden lg:block">
          <SecondaryButton
            class="h-10! w-18!"
            href="https://console.theopenlane.io/login">Login</SecondaryButton
          >
        </div>
        <PrimaryBtn class="w-36" href="https://console.theopenlane.io/signup">
          Create Account
        </PrimaryBtn>
        <div class="lg:hidden">
          <MobileMenu client:load />
        </div>
      </div>
    </div>
  </div>
</header>
