---
import { ChevronDown, BookText, ChevronRight, Menu } from "@lucide/astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import DropdownButton from "./DropdownButton.astro";
import MegaMenu from "../layouts/homepage/menu/MegaMenu.astro";
import MobileMenu from "../layouts/homepage/menu/MobileMenu.tsx";
import GitHubStars from "./icons/GithubStars.astro";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class="sticky top-0 z-50 w-full bg-card/70 backdrop-blur-md supports-[backdrop-filter]:bg-card/60 transition-all duration-300"
>
  <div class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center space-x-8">
        <a href="/" class="flex items-center space-x-2">
          <img
            src="/logo/openlane-logo-dark.svg"
            alt="Openlane Logo"
            class="h-6 w-auto mr-0 dark:hidden"
          />
          <img
            src="/logo/openlane-logo-light.svg"
            alt="Openlane Logo"
            class="h-6 w-auto hidden dark:block"
          />
        </a>

        <nav class="hidden lg:flex space-x-6 text-sm relative z-50">
          <MegaMenu label="Product" to="product" currentPath={currentPath} />
          <div class="relative group">
            <a
              href="/pricing"
              class=`${currentPath.includes("pricing") ? "text-color-primary" : ""} flex items-center gap-1 text-lg font-medium text-inherit cursor-pointer`
            >
              Pricing
            </a>
          </div>
          <div class="relative group">
            <a
              href="/blog"
              class=`${currentPath.includes("blog") ? "text-color-primary" : ""} flex items-center gap-1 text-lg font-medium text-inherit cursor-pointer`
            >
              Blog
            </a>
          </div>
          <!--<MegaMenu
            label="Resources"
            to="resources"
            currentPath={currentPath}
          />-->
          <MegaMenu label="Company" to="company" currentPath={currentPath} />
        </nav>
      </div>

      <div class="flex items-center space-x-3">
        <a
          href="https://docs.theopenlane.io/"
          target="_blank"
          class="flex items-center gap-1 text-sm font-medium hidden lg:flex"
        >
          <BookText size={14} />
          Docs
        </a>

        <a
          href="https://github.com/theopenlane"
          target="_blank"
          class="flex items-center gap-1 text-sm font-medium hidden lg:flex"
        >
          <GithubIcon />
          Github
        </a>

        <GitHubStars />

        <a
          href="https://getopenlane.io/"
          target="_blank"
          class="text-sm font-semibold px-4 py-2 rounded-full bg-primary text-invert-primary inline-flex items-center gap-2 whitespace-nowrap hover:bg-brand-300 !transition-colors !duration-300"
        >
          Get Started <ChevronRight size={18} class="hidden lg:inline" />
        </a>

        <MobileMenu client:load />
      </div>
    </div>
  </div>
</header>
