---
import { ChevronRight } from "@lucide/astro";
const { parentNav, childNav, parentLink, childColorClass } = Astro.props;
---

<div class="relative" id="legal-nav">
  <div
    class="flex max-w-7xl mx-auto items-center px-4 sm:px-6 lg:px-8 pt-5 text-base font-normal space-x-2"
  >
    {
      parentLink ? (
        <a
          href={parentLink.startsWith("/") ? parentLink : `/${parentLink}`}
          class="leading-5 font-normal text-sm color-light relative z-10 nav-link"
        >
          {parentNav}
        </a>
      ) : (
        <p class="leading-5 font-normal text-sm color-light">{parentNav}</p>
      )
    }
    <ChevronRight size={16} class="color-light" />
    <p
      class={`font-normal leading-5 text-sm ${childColorClass ?? "text-color"}`}
    >
      {childNav}
    </p>
  </div>
</div>

<style>
  /* Target both classes to increase specificity */
  a.nav-link.color-light:hover {
    color: #2ccbab !important;
    text-decoration: underline;
  }
</style>
