---

---

<div class="absolute inset-0 -z-10 pointer-events-none overflow-hidden">
  <!-- Layer 1 -->
  <div
    class="absolute inset-0 bg-[url('/polygon.svg')] bg-repeat-x bg-[length:200px] bg-bottom"
  >
  </div>
  <!-- Layer 2 (slightly offset) -->
  <div
    class="absolute inset-0 bg-[url('/polygon.svg')] bg-repeat-x bg-[length:200px] bg-bottomtranslate-y-6 left-[50px]"
  >
  </div>
  <!-- Layer 3 (more offset) -->
  <div
    class="absolute inset-0 bg-[url('/polygon.svg')] bg-repeat-x bg-[length:200px] bg-bottomtranslate-y-12 left-[100px]"
  >
  </div>
</div>
