---
import "../../styles/legal.css";
import LegalPageWrapper from "./LegalPageWrapper.astro";
import { parse } from "node-html-parser";

const res = await fetch(
  "https://www.iubenda.com/api/privacy-policy/50571965/cookie-policy",
  {
    headers: { accept: "application/json" },
  },
);
const { content } = await res.json();

const root = parse(content);

const tocEl = root.querySelector(".table-of-content-list");
const mainEl = root.querySelector("main");
const mainHeader = root.querySelector(".main-header__meta");
const bodyHTML = mainEl ? mainEl.innerHTML : content;
---

<LegalPageWrapper>
  <aside
    class="hidden md:block sticky top-16 max-h-[calc(100vh-64px)] overflow-y-auto self-start p-4"
  >
    <div id="policy-toc" set:html={tocEl?.outerHTML} />
  </aside>
  <section id="policy" class="pb-8">
    <div class="mb-4">
      <p
        class="text-5xl md:text-6xl font-normal leading-[100%] tracking-[-1.5px] mb-2"
      >
        Cookie Policy
      </p>
      <p
        class="text-sm text-gray-500 dark:text-gray-400"
        set:html={mainHeader?.innerHTML}
      />
    </div>
    <div set:html={bodyHTML} />
  </section>
</LegalPageWrapper>
