---
import TableOfContents from "./TableOfContents.astro";
import LegalPageWrapper from "./LegalPageWrapper.astro";

const { lastUpdated } = Astro.props;

const sections = [
  { id: "definitions", label: "Definitions" },
  { id: "relationship-of-the-parties", label: "Relationship of the Parties" },
  { id: "confidentiality", label: "Confidentiality" },
  { id: "subprocessors", label: "Sub-Processors" },
  { id: "security", label: "Security of Personal Data" },
  { id: "transfers", label: "Data Transfers" },
  { id: "data-rights", label: "Rights of Data Subjects" },
  { id: "audits", label: "Actions and Access Requests" },
  { id: "controller", label: "Company's Role" },
  { id: "conflict", label: "Conflict" },
  { id: "parties", label: "List of Parties" },
  { id: "security-measures", label: "Security Measures" },
];
---

<LegalPageWrapper>
  <aside
    class="hidden md:block sticky top-[64px] h-[calc(100vh-64px)] self-start p-4"
  >
    <TableOfContents sections={sections} />
  </aside>
  <main class="p-6">
    <div class="mb-4">
      <p
        class="text-5xl md:text-6xl font-normal leading-[100%] tracking-[-1.5px] mb-2"
      >
        Data Processing Addendum
      </p>
      {
        lastUpdated && (
          <p class="text-sm text-gray-500 dark:text-gray-400">
            Last updated: {lastUpdated}
          </p>
        )
      }
    </div>
    <div class="md:hidden mb-8">
      <TableOfContents sections={sections} />
    </div>
    <div class="text-color font-normal leading-6 space-y-4">
      <section id="introduction" class="scroll-mt-4">
        <div class="space-y-2">
          <div class="text-color font-normal leading-6">
            <p class="mb-6 text-sm">
              This Data Processing Addendum, including the Standard Contractual
              Clauses (as defined below) attached hereto (collectively, the "<b
                >DPA</b
              >" or "<b>Addendum</b>"), is made and entered into as of the
              effective date (the "
              <b>Effective Date</b>") of the applicable customer's ("
              <b>Customer</b>") acceptance of the Terms of Service between{" "}
              <b>theopenlane, Inc.</b> ("<b>Company</b>" or "<b>Openlane</b>
              ") and Customer to which this DPA is attached and incorporated (the
              "<b>Agreement</b>"). All capitalized terms not otherwise defined
              in this DPA will have the meaning given to them in the Agreement.
            </p>
            <p class="mb-6 text-sm">
              This Addendum shall become legally binding upon Customer entering
              into the Agreement or upon execution of this Addendum.
            </p>
          </div>
        </div>
      </section>

      <section id="definitions" class="scroll-mt-4">
        <h4>1. Definitions</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            1.1. “<b>Affiliate</b>” means (i) an entity of which a party
            directly or indirectly owns fifty percent (50%) or more of the stock
            or other equity interest, (ii) an entity that owns at least fifty
            percent (50%) or more of the stock or other equity interest of a
            party, or (iii) an entity which is under common control with a party
            by having at least fifty percent (50%) or more of the stock or other
            equity interest of such entity and a party owned by the same person,
            but such entity shall only be deemed to be an Affiliate so long as
            such ownership exists.
          </p>
          <p class="mb-6 text-sm">
            1.2. "<b>Data Subject</b>" means (i) an identified or identifiable
            natural person who is in the EEA or whose rights are protected by EU
            Data Protection Laws; or (ii) a " Consumer" as the term is defined
            in the CCPA.
          </p>
          <p class="mb-6 text-sm">
            1.3. "<b>Customer Data</b>" means any content, data, information or
            other materials (including Personal Information) submitted or shared
            by or for Customer to or through the Service.
          </p>
          <p class="mb-6 text-sm">
            1.4. "<b>Personal Information</b>" means information relating to a
            living individual or household who is, relates to, describes or can
            be, reasonably identified or linked, directly or indirectly from
            information, either alone or in conjunction with other information,
            within the Company's or Customer's control and which is stored,
            collected, Processed or submitted to or via the Service as Customer
            Data. Personal information includes Personal Data.
          </p>
          <p class="mb-6 text-sm">
            1.5. “<b>Authorized Sub-Processor</b>” means a third-party who has a
            need to know or otherwise access Customer’s Personal Data to enable
            Company to perform its obligations under this DPA or the Agreement,
            and who is authorized under Section 4.2 of this DPA.
          </p>
          <p class="mb-6 text-sm">
            1.6. “<b>Company Account Data</b>” means personal data that relates
            to Company’s relationship with Customer, including the names or
            contact information of individuals authorized by Customer to access
            Customer’s account and billing information of individuals that
            Customer has associated with its account. Company Account Data also
            includes any data Company may need to collect for the purpose of
            managing its relationship with Customer, identity verification, or
            as otherwise required by applicable laws and regulations.
          </p>
          <p class="mb-6 text-sm">
            1.7. “<b>Company Usage Data</b>” means Service usage data collected
            and processed by Company in connection with the provision of the
            Services, including without limitation data used to identify the
            source and destination of a communication, activity logs, and data
            used to optimize and maintain performance of the Services, and to
            investigate and prevent system abuse.
          </p>
          <p class="mb-6 text-sm">
            1.8. “<b>Data Exporter</b>” means Customer.
          </p>
          <p class="mb-6 text-sm">
            1.9. “<b>Data Importer</b>” means Company.
          </p>
          <p class="mb-6 text-sm">
            1.10. “<b>Data Protection Laws</b>” means any applicable laws and
            regulations in any relevant jurisdiction relating to the use or
            processing of Personal Data including: (i) the California Consumer
            Privacy Act (“CCPA”), (ii) the General Data Protection Regulation
            (Regulation (EU) 2016/679) (“EU GDPR”) and the EU GDPR as it forms
            part of the law of England and Wales by virtue of section 3 of the
            European Union (Withdrawal) Act 2018 (the “UK GDPR”) (together,
            collectively, the “GDPR”), (iii) the Swiss Federal Act on Data
            Protection, ; (iv) the UK Data Protection Act 2018; and (v) the
            Privacy and Electronic Communications (EC Directive) Regulations
            2003; in each case, as updated, amended or replaced from time to
            time. The terms “Data Subject”, “Personal Data”, “Personal Data
            Breach”, “processing”, “processor,” “controller,” and “supervisory
            authority” shall have the meanings set forth in the GDPR.
          </p>
          <p class="mb-6 text-sm">
            1.11. “<b>ex-EEA Transfer</b>” means the transfer of Personal Data,
            which is processed in accordance with the GDPR, from the Data
            Exporter to the Data Importer (or its premises) outside the European
            Economic Area (the “EEA”), and such transfer is not governed by an
            adequacy decision made by the European Commission in accordance with
            the relevant provisions of the GDPR.
          </p>
          <p class="mb-6 text-sm">
            1.12. “<b>ex-UK Transfer</b>” means the transfer of Personal Data
            covered by Chapter V of the UK GDPR, which is processed in
            accordance with the UK GDPR and the Data Protection Act 2018, from
            the Data Exporter to the Data Importer (or its premises) outside the
            United Kingdom (the “UK”), and such transfer is not governed by an
            adequacy decision made by the Secretary of State in accordance with
            the relevant provisions of the UK GDPR and the Data Protection Act
            2018.
          </p>
          <p class="mb-6 text-sm">
            1.13. “<b>Services</b>” shall have the meaning set forth in the
            Agreement.
          </p>
          <p class="mb-6 text-sm">
            1.14. “<b>Standard Contractual Clauses</b>” means the EU SCCs and
            the UK SCCs.
          </p>
          <p class="mb-6 text-sm">
            1.15. “<b>UK SCCs</b>” means the EU SCCs, as amended by the UK
            Addendum.
          </p>
          <p class="mb-6 text-sm">
            1.16. “<b>EU SCCs</b>” means the standard contractual clauses
            approved by the European Commission in Commission Decision 2021/914
            dated 4 June 2021, for transfers of personal data to countries not
            otherwise recognized as offering an adequate level of protection for
            personal data by the European Commission (as amended and updated
            from time to time), as modified by Section 6.2 of this DPA.
          </p>
        </div>
      </section>

      <section id="relationship-of-the-parties" class="scroll-mt-4">
        <h4>2. Relationship of the Parties; Processing of Data</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            2.1. The parties acknowledge and agree that with regard to the
            processing of Personal Data, Customer may act either as a controller
            or processor and, except as expressly set forth in this DPA or the
            Agreement, Company is a processor. Customer shall, in its use of the
            Services, at all times process Personal Data, and provide
            instructions for the processing of Personal Data, in compliance with
            Data Protection Laws. Customer shall ensure that the processing of
            Personal Data in accordance with Customer’s instructions will not
            cause Company to be in breach of the Data Protection Laws. Customer
            is solely responsible for the accuracy, quality, and legality of (i)
            the Personal Data provided to Company by or on behalf of Customer,
            (ii) the means by which Customer acquired any such Personal Data,
            and (iii) the instructions it provides to Company regarding the
            processing of such Personal Data. Customer shall not provide or make
            available to Company any Personal Data in violation of the Agreement
            or otherwise inappropriate for the nature of the Services, and shall
            indemnify Company from all claims and losses in connection
            therewith.
          </p>
          <p class="mb-6 text-sm">
            2.2. Company shall not process Personal Data (i) for purposes other
            than those set forth in the Agreement and/or Exhibit A, (ii) in a
            manner inconsistent with the terms and conditions set forth in this
            DPA or any other documented instructions provided by Customer,
            including with regard to transfers of personal data to a third
            country or an international organization, unless required to do so
            by Supervisory Authority to which the Company is subject; in such a
            case, the Company shall inform the Customer of that legal
            requirement before processing, unless that law prohibits such
            information on important grounds of public interest, or (iii) in
            violation of Data Protection Laws. Customer hereby instructs Company
            to process Personal Data in accordance with the foregoing and as
            part of any processing initiated by Customer in its use of the
            Services.
          </p>
          <p class="mb-6 text-sm">
            2.3. The subject matter, nature, purpose, and duration of this
            processing, as well as the types of Personal Data collected and
            categories of Data Subjects, are described in Exhibit A to this DPA.
          </p>
          <p class="mb-6 text-sm">
            2.4. Following completion of the Services, at Customer’s choice,
            Company shall return or delete Customer’s Personal Data, unless
            further storage of such Personal Data is required or authorized by
            applicable law. If return or destruction is impracticable or
            prohibited by law, rule or regulation, Company shall take measures
            to block such Personal Data from any further processing (except to
            the extent necessary for its continued hosting or processing
            required by law, rule or regulation) and shall continue to
            appropriately protect the Personal Data remaining in its possession,
            custody, or control. If Customer and Company have entered into
            Standard Contractual Clauses as described in Section 6 (Transfers of
            Personal Data), the parties agree that the certification of deletion
            of Personal Data that is described in Clause 8.1(d) and Clause 8.5
            of the EU SCCs (as applicable) shall be provided by Company to
            Customer only upon Customer’s request.
          </p>
          <p class="mb-6 text-sm">
            2.5. CCPA. Except with respect to Company Account Data and Company
            Usage Data, the parties acknowledge and agree that Company is a
            service provider for the purposes of the CCPA (to the extent it
            applies) and is receiving personal information from Customer in
            order to provide the Services pursuant to the Agreement, which
            constitutes a business purpose. Company shall not sell any such
            personal information. Company shall not retain, use or disclose any
            personal information provided by Customer pursuant to the Agreement
            except as necessary for the specific purpose of performing the
            Services for Customer pursuant to the Agreement, or otherwise as set
            forth in the Agreement or as permitted by the CCPA. The terms
            “personal information,” “service provider,” “sale,” and “sell” are
            as defined in Section 1798.140 of the CCPA. Company certifies that
            it understands the restrictions of this Section 2.5.
          </p>
        </div>
      </section>

      <section id="confidentiality" class="scroll-mt-4">
        <h4>3. Confidentiality</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            3.1. Company shall ensure that any person it authorizes to process
            Personal Data has agreed to protect Personal Data in accordance with
            Company’s confidentiality obligations in the Agreement. Customer
            agrees that Company may disclose Personal Data to its advisers,
            auditors or other third parties as reasonably required in connection
            with the performance of its obligations under this DPA, the
            Agreement, or the provision of Services to Customer.
          </p>
        </div>
      </section>

      <section id="subprocessors" class="scroll-mt-4">
        <h4>4. Authorized Sub-Processors</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            4.1. Customer acknowledges and agrees that Company may (1) engage
            its Affiliates as well as the Authorized Sub-Processors on the List
            (defined below) to access and process Personal Data in connection
            with the Services and (2) from time to time engage additional third
            parties for the purpose of providing the Services, including without
            limitation the processing of Personal Data. By way of this DPA,
            Customer provides general written authorization to Company to engage
            sub-processors as necessary to perform the Services.
          </p>
          <p class="mb-6 text-sm">
            4.2. A list of Company’s current Authorized Sub-Processors (the
            “List”) is available to Customer at{" "}
            <a
              href="https://theopenlane.io/legal/subprocessors"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://theopenlane.io/legal/subprocessors
            </a>
            . Such List may be updated by Company from time to time. Company shall
            specifically inform the Customer in writing of any intended changes to
            that list through the addition or replacement of sub-processors at least
            fourteen (14) days in advance, thereby giving the Customer sufficient
            time to be able to object to such changes prior to the engagement of
            the sub-processor(s).
          </p>
          <p class="mb-6 text-sm">
            4.3. If Customer reasonably objects to an engagement in accordance
            with Section 4.2, and Company cannot provide a commercially
            reasonable alternative within a reasonable period of time, Customer
            may discontinue the use of the affected Service by providing written
            notice to Company. Discontinuation shall not relieve Customer of any
            fees owed to Company under the Agreement.
          </p>
          <p class="mb-6 text-sm">
            4.4. If Customer does not object to the engagement of a third party
            in accordance with Section 4.2 within fourteen (14) days of notice
            by Company, that third party will be deemed an Authorized
            Sub-Processor for the purposes of this DPA.
          </p>
          <p class="mb-6 text-sm">
            4.5. Company will enter into a written agreement with the Authorized
            Sub-Processor imposing on the Authorized Sub-Processor data
            protection obligations comparable to those imposed on Company under
            this DPA with respect to the protection of Personal Data. In case an
            Authorized Sub-Processor fails to fulfill its data protection
            obligations under such written agreement with Company, Company will
            remain liable to Customer for the performance of the Authorized
            Sub-Processor’s obligations under such agreement.
          </p>
          <p class="mb-6 text-sm">
            4.6. If Customer and Company have entered into Standard Contractual
            Clauses as described in Section 6 (Transfers of Personal Data), (i)
            the above authorizations will constitute Customer’s prior written
            consent to the subcontracting by Company of the processing of
            Personal Data if such consent is required under the Standard
            Contractual Clauses, and (ii) the parties agree that the copies of
            the agreements with Authorized Sub-Processors that must be provided
            by Company to Customer pursuant to Clause 9(c) of the EU SCCs may
            have commercial information, or information unrelated to the
            Standard Contractual Clauses or their equivalent, removed by the
            Company beforehand, and that such copies will be provided by the
            Company only upon request by Customer.
          </p>
        </div>
      </section>

      <section id="security" class="scroll-mt-4">
        <h4>5. Security of Personal Data</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            5.1. Taking into account the state of the art, the costs of
            implementation and the nature, scope, context and purposes of
            processing as well as the risk of varying likelihood and severity
            for the rights and freedoms of natural persons, Company shall
            maintain appropriate technical and organizational measures to ensure
            a level of security appropriate to the risk of processing Personal
            Data. Exhibit C sets forth additional information about Company’s
            technical and organizational security measures.
          </p>
        </div>
      </section>

      <section id="transfers" class="scroll-mt-4">
        <h4>6. Transfers of Personal Data</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            6.1. The parties agree that Company may transfer Personal Data
            processed under this DPA outside the EEA, the UK, or Switzerland as
            necessary to provide the Services. Customer acknowledges that
            Company’s primary processing operations take place in the United
            States, and that the transfer of Customer’s Personal Data to the
            United States is necessary for the provision of the Services to
            Customer. If Company transfers Personal Data protected under this
            DPA to a jurisdiction for which the European Commission has not
            issued an adequacy decision, Company will ensure that appropriate
            safeguards have been implemented for the transfer of Personal Data
            in accordance with Data Protection Laws.
          </p>
          <p class="mb-6 text-sm">
            6.2. Ex-EEA Transfers. The parties agree that ex-EEA Transfers are
            made pursuant to the EU SCCs, which are deemed entered into (and
            incorporated into this DPA by this reference) and completed as
            follows:
          </p>
          <p class="mb-6 text-sm">
            6.2.1. Module One (Controller to Controller) of the EU SCCs apply
            when Company is processing Personal Data as a controller pursuant to
            Section 9 of this DPA.
          </p>
          <p class="mb-6 text-sm">
            6.2.2. Module Two (Controller to Processor) of the EU SCCs apply
            when Customer is a controller and Company is processing Personal
            Data for Customer as a processor pursuant to Section 2 of this DPA.
          </p>
          <p class="mb-6 text-sm">
            6.2.3. Module Three (Processor to Sub-Processor) of the EU SCCs
            apply when Customer is a processor and Company is processing
            Personal Data on behalf of Customer as a sub-processor.
          </p>
          <p class="mb-6 text-sm">
            6.3. For each module, where applicable the following applies:
          </p>
          <p class="mb-6 text-sm">
            6.3.1. The optional docking clause in Clause 7 does not apply.
          </p>
          <p class="mb-6 text-sm">
            6.3.2. In Clause 9, Option 2 (general written authorization)
            applies, and the minimum time period for prior notice of
            sub-processor changes shall be as set forth in Section 4.2 of this
            DPA;
          </p>
          <p class="mb-6 text-sm">
            6.3.3. In Clause 11, the optional language does not apply;
          </p>
          <p class="mb-6 text-sm">
            6.3.4. All square brackets in Clause 13 are hereby removed;
          </p>
          <p class="mb-6 text-sm">
            6.3.5. In Clause 17 (Option 1), the EU SCCs will be governed by
            Ireland law.
          </p>
          <p class="mb-6 text-sm">
            6.3.6. In Clause 18(b), disputes will be resolved before the courts
            of Ireland;
          </p>
          <p class="mb-6 text-sm">
            6.3.7. Exhibit B to this DPA contains the information required in
            Annex I and Annex III of the EU SCCs;
          </p>
          <p class="mb-6 text-sm">
            6.3.8. Exhibit C to this DPA contains the information required in
            Annex II of the EU SCCs; and
          </p>
          <p class="mb-6 text-sm">
            6.3.9. By entering into this DPA, the parties are deemed to have
            signed the EU SCCs incorporated herein, including their Annexes.
          </p>
          <p class="mb-6 text-sm">
            6.4. Ex-UK Transfers. The parties agree that ex-UK Transfers are
            made pursuant to the UK SCCs, which are deemed entered into and
            incorporated into this DPA by reference, and amended and completed
            in accordance with the UK Addendum, which is incorporated herein as
            Exhibit A of this DPA.
          </p>
          <p class="mb-6 text-sm">
            6.5. Transfers from Switzerland. The parties agree that transfers
            from Switzerland are made pursuant to the EU SCCs with the following
            modifications:
          </p>
          <p class="mb-6 text-sm">
            6.5.1. The terms “General Data Protection Regulation” or “Regulation
            (EU) 2016/679” as utilized in the EU SCCs shall be interpreted to
            include the Federal Act on Data Protection of 19 June 1992 (the
            “FADP,” and as revised as of 25 September 2020, the “Revised FADP”)
            with respect to data transfers subject to the FADP.
          </p>
          <p class="mb-6 text-sm">
            6.5.2. The terms of the EU SCCs shall be interpreted to protect the
            data of legal entities until the effective date of the Revised FADP.
          </p>
          <p class="mb-6 text-sm">
            6.5.3. Clause 13 of the EU SCCs is modified to provide that the
            Federal Data Protection and Information Commissioner (“FDPIC”) of
            Switzerland shall have authority over data transfers governed by the
            FADP and the appropriate EU supervisory authority shall have
            authority over data transfers governed by the GDPR. Subject to the
            foregoing, all other requirements of Section 13 shall be observed.
          </p>
          <p class="mb-6 text-sm">
            6.5.4. The term “EU Member State” as utilized in the EU SCCs shall
            not be interpreted in such a way as to exclude Data Subjects in
            Switzerland from exercising their rights in their place of habitual
            residence in accordance with Clause 18(c) of the EU SCCs.
          </p>
          <p class="mb-6 text-sm">
            6.6. Supplementary Measures. In respect of any ex-EEA Transfer or
            ex-UK Transfer, the following supplementary measures shall apply:
          </p>
          <p class="mb-6 text-sm">
            6.6.1. As of the date of this DPA, the Data Importer has not
            received any formal legal requests from any government intelligence
            or security service/agencies in the country to which the Personal
            Data is being exported, for access to (or for copies of) Customer’s
            Personal Data (“Government Agency Requests”);
          </p>
          <p class="mb-6 text-sm">
            6.6.2. If, after the date of this DPA, the Data Importer receives
            any Government Agency Requests, Company shall attempt to redirect
            the law enforcement or government agency to request that data
            directly from Customer. As part of this effort, Company may provide
            Customer’s basic contact information to the government agency. If
            compelled to disclose Customer’s Personal Data to a law enforcement
            or government agency, Company shall give Customer reasonable notice
            of the demand and cooperate to allow Customer to seek a protective
            order or other appropriate remedy unless Company is legally
            prohibited from doing so. Company shall not voluntarily disclose
            Personal Data to any law enforcement or government agency. Data
            Exporter and Data Importer shall (as soon as reasonably practicable)
            discuss and determine whether all or any transfers of Personal Data
            pursuant to this DPA should be suspended in the light of the such
            Government Agency Requests; and
          </p>
          <p class="mb-6 text-sm">
            6.6.3. The Data Exporter and Data Importer will meet as needed to
            consider whether:
          </p>
          <p class="mb-6 text-sm">
            6.6.3.1. the protection afforded by the laws of the country of the
            Data Importer to data subjects whose Personal Data is being
            transferred is sufficient to provide broadly equivalent protection
            to that afforded in the EEA or the UK, whichever the case may be;
          </p>
          <p class="mb-6 text-sm">
            6.6.3.2. additional measures are reasonably necessary to enable the
            transfer to be compliant with the Data Protection Laws
          </p>
          <p class="mb-6 text-sm">
            6.6.3.3. It is still appropriate for Personal Data to be transferred
            to the relevant Data Importer, taking into account all relevant
            information available to the parties, together with guidance
            provided by the supervisory authorities.
          </p>
          <p class="mb-6 text-sm">
            6.6.4. If Data Protection Laws require the Data Exporter to execute
            the Standard Contractual Clauses applicable to a particular transfer
            of Personal Data to a Data Importer as a separate agreement, the
            Data Importer shall, on request of the Data Exporter, promptly
            execute such Standard Contractual Clauses incorporating such
            amendments as may reasonably be required by the Data Exporter to
            reflect the applicable appendices and annexes, the details of the
            transfer and the requirements of the relevant Data Protection Laws.
          </p>
          <p class="mb-6 text-sm">
            6.6.5. If either (i) any of the means of legitimizing transfers of
            Personal Data outside of the EEA or UK set forth in this DPA cease
            to be valid or (ii) any supervisory authority requires transfers of
            Personal Data pursuant to those means to be suspended, then Data
            Importer may by notice to the Data Exporter, with effect from the
            date set out in such notice, amend or put in place alternative
            arrangements in respect of such transfers, as required by Data
            Protection Laws.
          </p>
        </div>
      </section>

      <section id="data-rights" class="scroll-mt-4">
        <h4>7. Rights of Data Subjects</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            7.1. Company shall, to the extent permitted by law, notify Customer
            upon receipt of a request by a Data Subject to exercise the Data
            Subject’s right of: access, rectification, erasure, data
            portability, restriction or cessation of processing, withdrawal of
            consent to processing, and/or objection to being subject to
            processing that constitutes automated decision-making (such requests
            individually and collectively “Data Subject Request(s)”). If Company
            receives a Data Subject Request in relation to Customer’s data,
            Company will advise the Data Subject to submit their request to
            Customer and Customer will be responsible for responding to such
            request, including, where necessary, by using the functionality of
            the Services. Customer is solely responsible for ensuring that Data
            Subject Requests for erasure, restriction or cessation of
            processing, or withdrawal of consent to processing of any Personal
            Data are communicated to Company, and, if applicable, for ensuring
            that a record of consent to processing is maintained with respect to
            each Data Subject.
          </p>
          <p class="mb-6 text-sm">
            7.2. Company shall, at the request of the Customer, and taking into
            account the nature of the processing applicable to any Data Subject
            Request, apply appropriate technical and organizational measures to
            assist Customer in complying with Customer’s obligation to respond
            to such Data Subject Request and/or in demonstrating such
            compliance, where possible, provided that (i) Customer is itself
            unable to respond without Company’s assistance and (ii) Company is
            able to do so in accordance with all applicable laws, rules, and
            regulations. Customer shall be responsible to the extent legally
            permitted for any costs and expenses arising from any such
            assistance by Company.
          </p>
        </div>
      </section>

      <section id="audits" class="scroll-mt-4">
        <h4>8. Actions and Access Requests; Audits</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            8.1. Company shall, taking into account the nature of the processing
            and the information available to Company, provide Customer with
            reasonable cooperation and assistance where necessary for Customer
            to comply with its obligations under the GDPR to conduct a data
            protection impact assessment and/or to demonstrate such compliance,
            provided that Customer does not otherwise have access to the
            relevant information. Customer shall be responsible to the extent
            legally permitted for any costs and expenses arising from any such
            assistance by Company.
          </p>
          <p class="mb-6 text-sm">
            8.2. Company shall, taking into account the nature of the processing
            and the information available to Company, provide Customer with
            reasonable cooperation and assistance with respect to Customer’s
            cooperation and/or prior consultation with any Supervisory
            Authority, where necessary and where required by the GDPR. Customer
            shall be responsible to the extent legally permitted for any costs
            and expenses arising from any such assistance by Company.
          </p>
          <p class="mb-6 text-sm">
            8.3. Company shall maintain records sufficient to demonstrate its
            compliance with its obligations under this DPA, and retain such
            records for a period of three (3) years after the termination of the
            Agreement. Customer shall, with reasonable notice to Company, have
            the right to review, audit and copy such records at Company’s
            offices during regular business hours.
          </p>
          <p class="mb-6 text-sm">
            8.4. Upon Customer’s written request at reasonable intervals, and
            subject to reasonable confidentiality controls, Company shall,
            either (i) make available for Customer’s review copies of
            certifications or reports demonstrating Company’s compliance with
            prevailing data security standards applicable to the processing of
            Customer’s Personal Data, or (ii) if the provision of reports or
            certifications pursuant to (i) is not reasonably sufficient under
            Data Protection Laws, allow Customer’s independent third party
            representative to conduct an audit or inspection of Company’s data
            security infrastructure and procedures that is sufficient to
            demonstrate Company’s compliance with its obligations under Data
            Protection Laws, provided that (a) Customer provides reasonable
            prior written notice of any such request for an audit and such
            inspection shall not be unreasonably disruptive to Company’s
            business; (b) such audit shall only be performed during business
            hours and occur no more than once per calendar year; and (c) such
            audit shall be restricted to data relevant to Customer. Customer
            shall be responsible for the costs of any such audits or
            inspections, including without limitation a reimbursement to Company
            for any time expended for on-site audits. If Customer and Company
            have entered into Standard Contractual Clauses as described in
            Section 6 (Transfers of Personal Data), the parties agree that the
            audits described in Clause 8.9 of the EU SCCs shall be carried out
            in accordance with this Section 8.4.
          </p>
          <p class="mb-6 text-sm">
            8.5. Company shall immediately notify Customer if an instruction, in
            the Company’s opinion, infringes the Data Protection Laws or
            Supervisory Authority.
          </p>
          <p class="mb-6 text-sm">
            8.6. In the event of a Personal Data Breach, Company shall, without
            undue delay, inform Customer of the Personal Data Breach and take
            such steps as Company in its sole discretion deems necessary and
            reasonable to remediate such violation (to the extent that
            remediation is within Company’s reasonable control).
          </p>
          <p class="mb-6 text-sm">
            8.7. In the event of a Personal Data Breach, Company shall, taking
            into account the nature of the processing and the information
            available to Company, provide Customer with reasonable cooperation
            and assistance necessary for Customer to comply with its obligations
            under the GDPR with respect to notifying (i) the relevant
            Supervisory Authority and (ii) Data Subjects affected by such
            Personal Data Breach without undue delay.
          </p>
          <p class="mb-6 text-sm">
            8.8. The obligations described in Sections 8.6 and 8.7 shall not
            apply in the event that a Personal Data Breach results from the
            actions or omissions of Customer. Company’s obligation to report or
            respond to a Personal Data Breach under Sections 8.6 and 8.7 will
            not be construed as an acknowledgement by Company of any fault or
            liability with respect to the Personal Data Breach.
          </p>
        </div>
      </section>

      <section id="controller" class="scroll-mt-4">
        <h4>9. Company's Role as a Controller</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            9.1. The parties acknowledge and agree that with respect to Company
            Account Data and Company Usage Data, Company is an independent
            controller, not a joint controller with Customer. Company will
            process Company Account Data and Company Usage Data as a controller
            (i) to manage the relationship with Customer; (ii) to carry out
            Company’s core business operations, such as accounting, audits, tax
            preparation and filing and compliance purposes; (iii) to monitor,
            investigate, prevent and detect fraud, security incidents and other
            misuse of the Services, and to prevent harm to Customer; (iv) for
            identity verification purposes; (v) to comply with legal or
            regulatory obligations applicable to the processing and retention of
            Personal Data to which Company is subject; and (vi) as otherwise
            permitted under Data Protection Laws and in accordance with this DPA
            and the Agreement. Company may also process Company Usage Data as a
            controller to provide, optimize, and maintain the Services, to the
            extent permitted by Data Protection Laws. Any processing by the
            Company as a controller shall be in accordance with the Company’s
            privacy policy set forth at
            <a
              href="https://theopenlane.io/legal/privacy"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://theopenlane.io/legal/privacy
            </a>
            .
          </p>
        </div>
      </section>

      <section id="conflict" class="scroll-mt-4">
        <h4>Conflict</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            In the event of any conflict or inconsistency among the following
            documents, the order of precedence will be: (1) the applicable terms
            in the Standard Contractual Clauses; (2) the terms of this DPA; (3)
            the Agreement; and (4) the Company’s privacy policy. Any claims
            brought in connection with this DPA will be subject to the terms and
            conditions, including, but not limited to, the exclusions and
            limitations set forth in the Agreement.
          </p>
        </div>
      </section>

      <section id="parties" class="scroll-mt-4">
        <h4 class="mb-4 text-base font-semibold">List of Parties</h4>

        <div class="mb-8">
          <p class="mb-3 text-base font-semibold">Data Exporter</p>
          <div class="space-y-4">
            <div>
              <p class="text-sm font-medium">Name:</p>
              <p class="text-sm">Customer, as specific in the Agreement.</p>
            </div>
            <div>
              <p class="text-sm font-medium">Contact:</p>
              <p class="text-sm">As specified in the Agreement.</p>
            </div>
            <div>
              <p class="text-sm font-medium">Role:</p>
              <p class="text-sm">Controller/Processor</p>
            </div>
            <div>
              <p class="text-sm font-medium">Signature and Date:</p>
              <p class="text-sm">
                The parties agree that execution of the Agreement by the Data
                Importer and the Data Exporter shall constitute execution of
                these Clauses by both parties on the Effective Date of the
                Agreement.
              </p>
            </div>
          </div>
        </div>

        <div class="mb-8">
          <p class="mb-3 text-base font-semibold">Data Importer</p>
          <div class="space-y-4">
            <div>
              <p class="text-sm font-medium">Name:</p>
              <p class="text-sm">theopenlane, Inc.</p>
            </div>
            <div>
              <p class="text-sm font-medium">Address:</p>
              <p class="text-sm">5150 Broadway St., San Antonio TX, 78209</p>
            </div>
            <div>
              <p class="text-sm font-medium">Contact:</p>
              <p class="text-sm">Openlane Security - security@theopenlane.io</p>
            </div>
            <div>
              <p class="text-sm font-medium">Role:</p>
              <p class="text-sm">Processor</p>
            </div>
            <div>
              <p class="text-sm font-medium">Signature and Date:</p>
              <p class="text-sm">
                The parties agree that execution of the Agreement by the Data
                Importer and the Data Exporter shall constitute execution of
                these Clauses by both parties on the Effective Date of the
                Agreement.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="security-measures" class="scroll-mt-4">
        <h4>Technical and Organizational Security Measures</h4>
        <div class="space-y-2">
          <p class="mb-6 text-sm">
            Openlane will maintain administrative, physical, and technical
            safeguards designed for protection of the security, confidentiality,
            and integrity of Personal Information uploaded to the Service, as
            described in this annex.
          </p>
          <p class="mb-2 text-xl font-semibold">1. SECURITY GOVERNANCE</p>
          <p class="mb-6 text-sm">
            1.1. Openlane maintains an information security program (including
            the adoption and enforcement of internal policies and procedures)
            designed to: (a) help our customers secure their data processed
            using Openlane's online product against accidental or unlawful loss,
            access, or disclosure, (b) identify reasonably foreseeable and
            internal risks to security and unauthorized access to the Openlane's
            online product, and (c) minimize security risks, including through
            risk assessment and regular testing. Openlane's head of security
            coordinates and is primarily responsible for the company’s
            information security program.
          </p>
          <p class="mb-6 text-sm">
            1.2. The team covers the following core functions:
          </p>
          <p class="mb-6 text-sm">
            1.2.1. Application security (secure development, security feature
            design, the Security Champions program, and secure development
            training)
          </p>
          <p class="mb-6 text-sm">
            1.2.2. Infrastructure security (data centers, cloud security, and
            strong authentication)
          </p>
          <p class="mb-6 text-sm">
            1.2.3. Monitoring and incident response (cloud native and custom)
          </p>
          <p class="mb-6 text-sm">
            1.2.4. Vulnerability management (vulnerability scanning and
            resolution)
          </p>
          <p class="mb-6 text-sm">1.2.5. Compliance and technical privacy</p>
          <p class="mb-6 text-sm">
            1.2.6. Security awareness (onboarding training and awareness
            campaigns)
          </p>
          <p class="mb-2 text-xl font-semibold">2. ACCESS CONTROL</p>
          <p class="mb-6 text-sm">
            2.1. Preventing Unauthorized Product Access
          </p>
          <p class="mb-6 text-sm">
            2.1.1. Third party data hosting and processing: We host our Service
            with third party cloud infrastructure providers. Additionally, we
            maintain contractual relationships with vendors in order to provide
            the Service in accordance with the DPA. We rely on contractual
            agreements, privacy policies, and vendor compliance programs in
            order to protect data processed or stored by these vendors.
          </p>
          <p class="mb-6 text-sm">
            2.1.2. Physical and environmental security: We host our product
            infrastructure with multi-tenant, outsourced infrastructure
            providers. The physical and environmental security controls of such
            providers are audited for SOC 2 Type II and ISO 27001 compliance,
            among other certifications.
          </p>
          <p class="mb-6 text-sm">
            2.1.3. Authentication: Customers who interact with the products via
            the user interface are required to authenticate before they are able
            to access their non-public data. We support two-factor
            authentication via social login as well as Single-Sign On.
          </p>
          <p class="mb-6 text-sm">
            2.1.4. Authorization: Customer Content (data originated by customers
            that a customer transmits through Openlane) is stored in
            multi-tenant storage systems which are only accessible to Customers
            via application user interfaces and application programming
            interfaces. Customers are not allowed direct access to the
            underlying application infrastructure. The authorization model in
            each of our products is designed to ensure that only the
            appropriately assigned individuals can access relevant features,
            views, and customization options. Authorization to data sets is
            performed through validating the user’s permissions against the
            attributes associated with each data set.
          </p>
          <p class="mb-6 text-sm">
            2.1.5. Application Programming Interface (API) access: Public
            product APIs may be accessed using an API key or through OAuth
            authorization. Authorization credentials are stored encrypted.
          </p>
          <p class="mb-6 text-sm">
            2.2. Preventing Unauthorized Product Use. We implement
            industry-standard access controls and detection capabilities for the
            internal networks that support our products.
          </p>
          <p class="mb-6 text-sm">
            2.2.1. Access controls: Network access control mechanisms are
            designed to prevent network traffic using unauthorized protocols
            from reaching the product infrastructure. The technical measures
            implemented differ between infrastructure providers and include
            Virtual Private Cloud (VPC) implementations, security group
            assignment, and traditional firewall rules.
          </p>
          <p class="mb-6 text-sm">
            2.2.2. Static code analysis: Automated security reviews of code
            stored in our source code repositories, performed through static
            code analysis, checking for coding best practices and identifiable
            software vulnerabilities.
          </p>
          <p class="mb-6 text-sm">
            2.2.3. Penetration testing: We maintain relationships with
            industry-recognized penetration testing service providers for annual
            penetration tests. The intent of the penetration tests is to
            identify and resolve foreseeable attack vectors and potential abuse
            scenarios.
          </p>
          <p class="mb-6 text-sm">
            2.3. Limitations of Privilege & Authorization Requirements
          </p>
          <p class="mb-6 text-sm">
            2.3.1. Product access: A subset of our personnel have access to the
            products and to customer data via controlled interfaces. The intent
            of providing access to a subset of personnel is to provide effective
            customer support, troubleshoot potential problems, detect, and
            respond to security incidents, and implement data security.
          </p>

          <p class="mb-6 text-sm">
            2.3.2. Personnel Security: Openlane personnel are required to
            conduct themselves in a manner consistent with the company’s
            guidelines regarding confidentiality, business ethics, appropriate
            usage, and professional standards. Openlane conducts reasonably
            appropriate background checks to the extent legally permissible and
            in accordance with applicable local law and regulations.
          </p>
          <p class="mb-6 text-sm">
            2.3.3. Personnel are required to execute a confidentiality agreement
            and must acknowledge receipt of, and compliance with, Openlane
            confidentiality and security policies. Personnel are provided with
            security training.
          </p>
          <p class="mb-2 text-xl font-semibold">3. ENCRYPTION TECHNOLOGIES</p>

          <p class="mb-6 text-sm">
            3.1. In-transit: We make HTTPS encryption (also referred to as SSL
            or TLS) available on all our interfaces. Our HTTPS implementation
            uses industry-standard algorithms and certificates.
          </p>
          <p class="mb-6 text-sm">
            3.2. At-rest: We store user passwords following policies that follow
            industry standard practices for security. We have implemented
            technologies to ensure that stored data is encrypted at rest.
          </p>
          <p class="mb-2 text-xl font-semibold">4. INPUT CONTROLS</p>

          <p class="mb-6 text-sm">
            4.1. Detection: We designed our infrastructure to log extensive
            information about the system behavior, traffic received, system
            authentication, and other application requests. Internal systems
            aggregate log data and alert appropriate personnel of malicious,
            unintended, or anomalous activities. Our personnel, including
            security, operations, and support personnel, are responsive to known
            incidents.
          </p>
          <p class="mb-6 text-sm">
            4.2. Response and tracking: We maintain a record of known security
            incidents that includes description, dates and times of relevant
            activities, and incident disposition. Suspected and confirmed
            security incidents are investigated by security, operations, and/or
            support personnel; and appropriate resolution steps are identified
            and documented. For any confirmed incidents, we will take
            appropriate steps to minimize product and customer damage or
            unauthorized disclosure. Notifications will be in accordance with
            the terms of the Agreement.
          </p>
          <p class="mb-2 text-xl font-semibold">
            5. DATA DELETION AND PORTABILITY.
          </p>
          <p class="mb-6 text-sm">
            Openlane enables customers to request deletion or export of their
            account and data in a manner consistent with the functionality of
            the Openlane product.
          </p>
          <p class="mb-2 text-xl font-semibold">6. AVAILABILITY CONTROLS.</p>
          <p class="mb-6 text-sm">
            Openlane products are designed to ensure redundancy and seamless
            failover. The server instances that support the products are also
            architected with a goal to prevent single points of failure. This
            design assists our operations in maintaining and updating the
            product applications and backend while limiting downtime.
          </p>
          <p class="mb-6 text-sm">
            6.1. Redundancy: The infrastructure providers use designs to
            eliminate single points of failure and minimize the impact of
            anticipated environmental risks. Openlane's product is designed to
            allow the company to perform certain types of preventative and
            corrective maintenance without interruption.
          </p>
          <p class="mb-6 text-sm">
            6.2. Business Continuity: Openlane has designed and regularly plans
            and tests its business continuity planning/disaster recovery
            programs.
          </p>
        </div>
      </section>
    </div>
  </main>
</LegalPageWrapper>
