---
import "../../styles/legal.css";
import LegalPageWrapper from "./LegalPageWrapper.astro";
import { JSDOM } from "jsdom";

const res = await fetch("https://www.iubenda.com/api/privacy-policy/50571965", {
  headers: { accept: "application/json" },
});
const { content } = await res.json();

const dom = new JSDOM(content);
const document = dom.window.document;

// root of their policy markup
const root = document.body;

// 1) grab their TOC by class
const tocEl = root.querySelector(".table-of-content-list");

// main content
const mainEl = document.querySelector("main");
const mainHeader = root.querySelector(".main-header__meta");
const bodyHTML = mainEl ? mainEl.innerHTML : content;
---

<LegalPageWrapper>
  <aside
    class="hidden md:block sticky top-[64px] h-[calc(100vh-64px)] self-start p-4"
  >
    <div id="policy-toc" set:html={tocEl?.outerHTML} />
  </aside>
  <section id="policy" class="pb-8">
    <div class="mb-4">
      <p
        class="text-5xl md:text-6xl font-normal leading-[100%] tracking-[-1.5px] mb-2"
      >
        Privacy Policy
      </p>
      <p
        class="text-sm text-gray-500 dark:text-gray-400"
        set:html={mainHeader.innerHTML}
      />
    </div>
    <div set:html={bodyHTML} />
  </section>
</LegalPageWrapper>
