---
import "../../styles/legal.css";
---

<main id="legal-page-wrapper">
  <div class="max-w-322.5 mx-auto px-6 py-12">
    <div class="mb-8">
      <p
        class="text-5xl md:text-6xl font-normal leading-[100%] tracking-[-1.5px] mb-2"
      >
        Subprocessors
      </p>
    </div>

    <div class="text-color font-normal leading-6 space-y-8">
      <div>
        <p class="text-sm mb-8">
          To support the delivery of our Services, theopenlane Inc. may engage
          and use data processors with access to certain Customer Data. This
          page provides important information about the identity, location, and
          role of each subprocessor.
        </p>
      </div>

      <div id="subprocessors-embed">
        <script
          is:inline
          src="https://trust.theopenlane.net/embed/subprocessors.js"
          data-domain="trust.theopenlane.net/openlane"
          data-theme="light"
          defer></script>
      </div>

      <div>
        <p class="text-sm">
          Subscribe for updates or object to changes: To receive subprocessor
          change notifications or to object to a proposed subprocessor as
          permitted by our DPA, email <a
            href="mailto:support@theopenlane.io"
            class="hover:underline">support@theopenlane.io</a
          > with the subject line "Subscribe to subprocessor updates" or "Subprocessor
          objection."
        </p>
      </div>
    </div>
  </div>
</main>
