---
import {
  MessageSquareWarning,
  BadgeDollarSign,
  RouteOff,
  Bike,
} from "@lucide/astro";
const cards = [
  {
    text: "Modern systems are complex, fragmented, and flooded with niche SaaS tools that fail to deliver end-to-end solutions.",
    icon: MessageSquareWarning,
  },
  {
    text: "Teams are burning time and budget supporting siloed compliance efforts for every customer and framework.",
    icon: BadgeDollarSign,
  },
  {
    text: "Lack of access to best practices leads to wasted effort and missed opportunities for efficiency and scale.",
    icon: RouteOff,
  },
  {
    text: "Legacy tools are expensive, rigid, and poorly suited to fast-moving teams or modern auditor expectations.",
    icon: Bike,
  },
];
---

<section
  id="compliance-section"
  class="py-16 pt-0 px-4 sm:px-6 md:px-12 lg:px-24 bg-color-secondary compliance-section"
>
  <div class="flex justify-center pt-10 mb-10 intro-label">
    <div
      class="flex flex-wrap items-center gap-2 px-4 py-2 rounded-lg text-sm font-medium blog-bg-color"
    >
      <p
        class="text-xs font-normal leading-4 text-color-accent border rounded-md pl-1 pr-1 bg-color-card border-color"
      >
        BLOG
      </p>
      <p>
        Read Matt's newest blog:
        <a
          href="blog/navigating-the-labyrinth-of-cybersecurity-standards"
          class="underline! text-color-accent!"
          >Navigating the Labyrinth of Cybersecurity Standards</a
        >
      </p>
    </div>
  </div>
  <div class="max-w-[1290px] mx-auto grid sm:grid-cols-1 lg:grid-cols-5 gap-12">
    <div class="col-span-2 max-w-full sm:max-w-[437px] mt-1 sm:mt-12">
      <p class="font-medium text-base mb-2 compliance-label">
        Who needs compliance?
      </p>
      <p
        class="text-3xl sm:text-4xl font-medium leading-tight mb-6 tracking-[-0.9px] compliance-title"
      >
        Security and compliance aren't just for the enterprise. They’re essential for any business earning customer trust.
      </p>
      <p class="font-normal text-base sm:text-lg leading-7 compliance-text">
       Whether you're a startup closing your first deal or a growing company entering new markets,
       a strong compliance program builds trust, shortens sales cycles, and clears the path to larger customers.
       Openlane helps you get there faster, with less friction.
      </p>
    </div>

    <div class="col-span-3">
      <p
        class="text-2xl sm:text-3xl leading-9 font-medium pb-5 tracking-[-0.75px] pt-10 sm:pt-0 compliance-subtitle"
      >
        Compliance trends
      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
          cards.map(({ text, icon: Icon }) => (
            <div class="relative p-6 sm:p-8 rounded-xl bg-color-card-secondary card-gsap flex flex-col justify-between min-h-[140px] md:min-h-[260px] lg:min-h-[216px]">
              <p class="text-sm sm:text-base font-normal leading-6 sm:leading-7">
                {text}
              </p>
              <div class="absolute bottom-2 right-2 opacity-10">
                <Icon class="color-light" size={48} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
