---
import FeatureSlider from "./FeatureSlider.tsx";
---

<section class="feature-bg py-20 px-2 sm:px-6 text-center h-[863px]">
  <div class="mx-auto max-w-[1290px] text-left">
    <FeatureSlider client:load />
  </div>
</section>
