---
type Info = {
  background: string;
  icon?: string;
};

interface Props {
  data: Info;
}

const { data } = Astro.props as { data?: Info };
---

{
  data && (
    <div
      class={`w-full rounded-3xl relative h-44
             shadow-[0_0_0_1px_rgba(9,21,29,0.08),0_14px_4px_0_rgba(9,21,29,0),0_9px_4px_0_rgba(9,21,29,0.01),0_5px_3px_0_rgba(9,21,29,0.02),0_2px_2px_0_rgba(9,21,29,0.03),0_1px_1px_0_rgba(9,21,29,0.04)]
             flex items-center justify-center
             p-8 ${data.background}`}
    >
      <img
        src="/assets/ellipse-30.svg"
        alt="decorative circle"
        class="absolute top-2 left-2 w-4 h-4 pointer-events-none"
      />
      <img
        src="/assets/ellipse-30.svg"
        alt="decorative circle"
        class="absolute top-2 right-2 w-4 h-4 pointer-events-none"
      />
      <img
        src="/assets/ellipse-30.svg"
        alt="decorative circle"
        class="absolute bottom-2 left-2 w-4 h-4 pointer-events-none"
      />
      <img
        src="/assets/ellipse-30.svg"
        alt="decorative circle"
        class="absolute bottom-2 right-2 w-4 h-4 pointer-events-none"
      />
      {data.icon && (
        <img src={data.icon} class="w-24 h-24 object-contain" alt="" />
      )}
    </div>
  )
}
