---
import { ChevronRight } from "@lucide/astro";
---

<section
  class="py-0 lg:py-16 px-4 rounded-t-[60px] rounded-b-none border-t border-color box-shadow bg-color-secondary labirint-section"
>
  <div class="max-w-[1290px] mx-auto">
    <div class="flex flex-col lg:flex-row items-center justify-center gap-10">
      <div class="flex flex-col max-w-md pl-10 text-left">
        <p class="text-4xl font-medium mb-4 intro-title mt-10 md:mt-0">
          Hi, we're Openlane
        </p>
        <p class="text-lg mb-6 intro-text">
          We're developing a cutting-edge cybersecurity and compliance
          automation solution to help growing companies secure their
          systems, navigate the increasingly complex web of privacy laws
          and regulations, ensure continuous compliance, manage risks, and
          stay ahead of evolving cyber threats.
        </p>
        <div class="flex justify-start intro-cta">
          <button
            class="px-6 py-2 border-2 rounded-full border-accent flex items-center gap-2 font-medium text-base cursor-pointer group/feedback hover:border-accent transition-all duration-300 text-"
          >
            <a
              href="/product/compliance-management"
              class="group-hover/feedback:!text-(--color-accent) transition-all duration-300"
              >Learn more about our product</a
            >
            <ChevronRight
              class="w-4 h-4 group-hover/feedback:!text-(--color-accent) transition-all duration-300"
            />
          </button>
        </div>
      </div>

      <div class="w-full max-w-sm flex justify-center intro-printer">
        <!-- <Printer /> -->
        <img
          src="/automation.gif"
          alt="Labirint Section"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="flex flex-col max-w-md text-left lg:text-left">
        <p class="text-4xl font-medium mb-4 intro-title mt-10 md:mt-0">
          Compliance Automation
        </p>
        <p class="text-lg mb-6 intro-text">
          We revolutionize how companies fulfill their legal or
          regulatory requirements by leveraging technology to streamline
          previously manual tasks. Automation assures timely adherence to
          regulations and simplifies complex compliance workflows such as risk
          assessments and corrective actions.
        </p>
        <div class="flex justify-start pb-10 md:pb-0 compliance-cta">
          <button
            class="px-6 py-2 border-2 rounded-full border-accent flex items-center gap-2 font-medium text-base cursor-pointer group/feedback hover:border-accent transition-all duration-300"
          >
            <a
              href="/product/compliance"
              class="group-hover/feedback:!text-(--color-accent) transition-all duration-300"
              >Learn more about Compliance Automation</a
            >
            <ChevronRight
              class="w-4 h-4 group-hover/feedback:!text-(--color-accent) transition-all duration-300"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
