---
import Polygon from "../../components/assets/Polygon.astro";
import PolygonBig from "../../components/assets/PolygonBig.astro";
---

<section class="py-1 pt-10 px-2 sm:px-6 overflow-hidden">
  <div class="mx-auto w-full max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <!-- Left Column -->
      <div class="text-left col-span-2">
        <p
          data-gsap
          class="text-6xl md:text-8xl font-normal leading-[100%] tracking-[-0.045em] relative"
        >
          <span class="inline md:hidden">
            <span class="underline-primary">Simplify</span>
            your compliance journey
          </span>
          <span class="hidden md:inline">
            <span class="animate-underline">Simplify</span>
            your compliance journey
          </span>
        </p>

        <div class="mt-6">
          <p
            data-gsap
            class="text-xl md:text-2xl leading-8 tracking-[-0.0375em] mt-10 opacity-90 max-w-full md:max-w-[90%]"
          >
            Set yourself apart with automation that goes beyond point-in-time audits.
            Openlane keeps you continuously compliant and always ready for what's next.
          </p>
        </div>

        <div
          class="mt-10 mb-10 flex flex-col sm:flex-row gap-4 flex-wrap"
          data-gsap
        >
        </div>
      </div>

      <!-- Right Column -->
      <div
        class="hidden md:flex col-span-1 justify-center w-[140%] h-[140%] -ml-10"
      >
        <img src="/gears.svg" alt="Gears" />
      </div>
    </div>
  </div>
</section>
