---
import { ChevronRight } from "@lucide/astro";
---

<section
  id="mission-section"
  class="flex flex-col items-center px-4 py-12 pb-0 space-y-8 bg-color-secondary bg-mission-light dark:bg-mission-dark mission-section"
>
  <div class="text-center mb-0 font-medium mission-label fade-in-scroll">
    <p>Our Mission</p>
  </div>

  <div class="text-center max-w-[1535px] mission-heading fade-in-scroll">
    <p class="text-4xl sm:text-5xl font-light tracking-[-1.5px]">
      Empower growing companies with open source tools and technologies they
      need to master endless cyberthreats and risk
    </p>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-8 max-w-[1535px] fade-in-scroll"
  >
    <div
      class="mission-card p-[10px] px-[5px] w-full sm:p-[25px] sm:px-[34px] text-lg font-normal leading-7 text-center rounded-lg bg-subbg-4 sm:w-[307.5px]"
    >
      <p>Open-source tools that delight operators and accelerate their work</p>
    </div>
    <div
      class="mission-card p-[10px] px-[5px] w-full sm:p-[25px] sm:px-[34px] text-lg font-normal leading-7 text-center rounded-lg bg-subbg-4 sm:w-[307.5px]"
    >
      <p>
        Capabilities that help growing companies meet enterprise-grade
        expectations
      </p>
    </div>
    <div
      class="mission-card p-[10px] px-[5px] w-full sm:p-[25px] sm:px-[34px] text-lg font-normal leading-7 text-center rounded-lg bg-subbg-4 sm:w-[307.5px]"
    >
      <p>Tools that transcend the traditional point-in-time check</p>
    </div>
    <div
      class="mission-card p-[10px] px-[5px] w-full sm:p-[25px] sm:px-[34px] text-lg font-normal leading-7 text-center rounded-lg bg-subbg-4 sm:w-[307.5px]"
    >
      <p>Transparent, accessible pricing for teams of any size</p>
    </div>
  </div>

  <div class="mt-8 mb-10 mission-cta">
    <button
      class="px-6 py-2 border-2 rounded-full border-accent flex items-center gap-2 font-medium text-base cursor-pointer group/feedback hover:border-accent transition-all duration-300 fade-in-scroll"
    >
      <a
        href="/product/compliance"
        class="group-hover/feedback:!text-(--color-accent) transition-all duration-300"
        >Learn more about our product</a
      >
      <ChevronRight
        class="w-4 h-4 group-hover/feedback:!text-(--color-accent) transition-all duration-300"
      />
    </button>
  </div>
</section>
