---
type Info = {
  title: string;
  description: string;
  icon: string;
};

interface Props {
  data: Info;
}

const { data } = Astro.props as { data?: Info };
---

{
  data && (
    <div
      class="flex flex-col justify-between p-6 h-full rounded-3xl
         bg-white
         shadow-[0_0_0_1px_rgba(9,21,29,0.08),0_14px_4px_0_rgba(9,21,29,0),0_9px_4px_0_rgba(9,21,29,0.01),0_5px_3px_0_rgba(9,21,29,0.02),0_2px_2px_0_rgba(9,21,29,0.03),0_1px_1px_0_rgba(9,21,29,0.04)]!
         fade-in-scroll"
    >
      <div class="flex flex-col gap-3">
        <div class="text-title-section text-[20px] font-medium tracking-[-0.6px] text-left">
          {data.title}
        </div>
        <div class="font-normal text-[16px] leading-5 text-subtitle text-left">
          {data.description}
        </div>
      </div>
      <img src={data.icon} alt={data.title} />
    </div>
  )
}
