---
import PartnersSlider from "./PartnersSlider.tsx";
---

<section class="bg-slate-50 py-20 px-6 text-center h-[863px]">
  <div class="mx-auto max-w-[1290px] text-left">
    <PartnersSlider client:load />
  </div>
</section>
