---
import PartnersSlider from "./PartnersSlider.tsx";
import NewTag from "../../components/icons/NewTag.astro";
import { ChevronRight } from "lucide-react";
---

<section class="bg-slate-50 py-20 px-2 md:px-22 text-center">
  <div class="mx-auto max-w-[1290px] text-left">
    <PartnersSlider client:load />

    <div
      class="rounded-xl flex flex-col md:flex-row items-start md:items-center justify-between p-4 bg-partner relative mt-10 space-y-4 md:space-y-0"
    >
      <div class="flex flex-col md:flex-row md:items-center md:space-x-2">
        <span
          class="text-xs font-semibold border border-destructive rounded-md p-1 max-w-[32px]"
        >
          <NewTag />
        </span>
        <p class="text-2xl font-normal mt-2 md:mt-0">
          Openlane welcomes partnerships with open arms, naturally.
        </p>
      </div>

      <button
        class="px-6 py-2 text-invert-primary bg-primary rounded-full flex items-center gap-2 font-medium text-base"
      >
        <span>Become our Partner</span>
        <ChevronRight class="w-4 h-4" />
      </button>
    </div>
  </div>
</section>
