<section class="py-16 px-6 md:px-12 lg:px-24">
  <div class="max-w-[1290px] mx-auto flex flex-col gap-6">
    <p class="text-6xl font-normal tracking-[-1.5px]">
      <span class="text-gradient">News & Industry Insights</span>
      <p>
        Product updates, engineering stories, and the latest in compliance and
        security.
      </p>
    </p>
  </div>
</section>
