---
import {
  ChevronDown,
  Bot,
  Combine,
  ScrollText,
  ChevronRight,
  Framer,
  Briefcase,
  ShieldCheckIcon,
} from "@lucide/astro";
import { Handshake, ShieldCheck } from "lucide-react";

const { label, to, currentPath } = Astro.props;

const isActive = currentPath === to || currentPath.startsWith(`${to}/`);
const linkClasses = [
  "flex items-center gap-1 text-base font-medium cursor-pointer transition-colors",
  isActive ? "text-color" : "text-color",
  "group-hover:!text-color hover:!text-color",
]
  .filter(Boolean)
  .join(" ");

const complianceAutomationPath = ["product/compliance", "product/compliance/"];
const complianceManagementPath = [
  "product/compliance-management",
  "product/compliance-management/",
];
const compliancePolicyAndProcedureManagementPath = [
  "product/policy-and-procedure-management",
  "product/policy-and-procedure-management/",
];
const frameworkPath = ["product/frameworks", "product/frameworks/"];
const companyAboutPath = ["company/about", "company/about/"];
const companyContactPath = ["company/contact", "company/contact/"];
const companySupportPath = ["company/support", "company/support/"];
const companyLegalPath = ["legal", "legal/"];
const companyChangelogPath = ["company/changelog", "company/changelog/"];
const trustCenterPath = ["product/trust-center", "product/trust-center/"];
const alliancesAuditorsPath = ["alliances/auditors", "alliances/auditors/"];
const alliancesServiceProvidersPath = [
  "alliances/service-providers",
  "alliances/service-providers/",
];
---

<div class="relative group">
  <a class={linkClasses}>
    {label}
    <ChevronDown size={12} stroke-width={4} />
  </a>

  <div class="absolute left-0 top-full h-4 w-full z-30"></div>

  {
    label === "Alliances" && (
      <div class="absolute bg-card -left-66.25 lg:-left-50 xl:left-0 top-[calc(100%+16px)] w-max rounded-xl shadow-lg opacity-0 invisible group-hover:opacity-98 group-hover:visible transition-opacity duration-200 z-40 border border-color">
        <div class="grid grid-cols-[400px_400px] gap-3">
          <div class="border-r border-color pt-6 pb-6 pl-6 pr-6 flex flex-col gap-4">
            <div
              class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${
                alliancesAuditorsPath.includes(currentPath)
                  ? "shadow-md bg-card-secondary -translate-y-1"
                  : ""
              }`}
            >
              <a
                href="/alliances/auditors"
                class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-3"
              >
                <div
                  class={`flex justify-center asset-bg p-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover ${
                    currentPath.startsWith("alliances/auditors")
                      ? "bg-asset-hover"
                      : ""
                  }`}
                >
                  <ShieldCheckIcon
                    class="w-7 h-7 text-color"
                    stroke-width={1}
                  />
                </div>
                <div>
                  <p class="font-semibold text-lg mb-1">Auditors</p>
                  <p class="text-sm text-color">
                    Independent audit partners in our network
                  </p>
                </div>
              </a>
            </div>

            <div
              class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${
                alliancesServiceProvidersPath.includes(currentPath)
                  ? "shadow-md bg-card-secondary -translate-y-1"
                  : ""
              }`}
            >
              <a
                href="/alliances/service-providers"
                class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-3"
              >
                <div
                  class={`flex justify-center asset-bg p-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover ${
                    alliancesServiceProvidersPath.includes(currentPath)
                      ? "bg-asset-hover"
                      : ""
                  }`}
                >
                  <Briefcase class="w-7 h-7 text-color" stroke-width={1} />
                </div>
                <div>
                  <p class="font-medium text-lg mb-1">Service Providers</p>
                  <p class="text-sm text-color">
                    Partners helping teams build sustainable compliance programs
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="pt-6 pb-6 pr-6 flex flex-col justify-start">
            <div
              class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${
                companyContactPath.includes(currentPath)
                  ? "shadow-md bg-card-secondary -translate-y-1"
                  : ""
              }`}
            >
              <a
                href="/company/contact"
                data-astro-reload
                class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-3"
              >
                <div class="flex justify-center asset-bg p-2 rounded-lg">
                  <Handshake className="w-7 h-7 text-color" stroke-width={1} />
                </div>
                <div>
                  <p class="font-medium text-lg mb-1">Become a Partner</p>
                  <p class="text-sm text-color">
                    Join our network of trusted auditors and service providers
                    helping teams <br /> build sustainable compliance programs.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    )
  }

  {
    label === "Product" && (
      <div class="absolute bg-card -left-66.25 lg:-left-50 xl:left-0 top-[calc(100%+16px)] w-screen max-w-6xl rounded-xl shadow-lg opacity-0 invisible group-hover:opacity-98 group-hover:visible transition-opacity duration-200 z-40 border border-color">
        <div class="grid grid-cols-3 gap-6 w-full">
          <div class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 col-span-1 border-r border-color pt-6 pb-6 pl-6 pr-6 relative">
            <div
              class={`mb-20 col-span-full group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${complianceAutomationPath.includes(currentPath) ? "shadow-md bg-card-secondary -translate-y-1" : ""}`}
            >
              <a
                href="/product/compliance"
                class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-2"
              >
                <div
                  class={`flex justify-center asset-bg p-1 m-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover ${complianceAutomationPath.includes(currentPath) ? "bg-asset-hover" : ""}`}
                >
                  <Bot class="w-7 h-7 text-color" stroke-width={1} />
                </div>
                <div>
                  <p class="font-semibold text-lg mb-1">
                    Compliance Automation
                  </p>
                  <p class="text-base font-normal mb-2">
                    Openlane's platform automates compliance, streamlining
                    manual tasks and ensuring timely adherence to regulations.
                  </p>
                  <p class="text-sm text-color-accent inline-flex items-center gap-1 transition-all duration-300">
                    Learn more
                    <ChevronRight
                      class="align-middle transition-transform duration-300 transform translate-x-0 group-hover:translate-x-1.5"
                      size={16}
                    />
                  </p>
                </div>
              </a>
            </div>

            <div class="col-span-full border border-color rounded-lg p-1 flex justify-between items-center text-sm bottom-7 absolute w-full cursor-pointer group/feedback hover:border-accent transition-all duration-3000">
              <a
                href="/company/contact"
                data-astro-reload
                class="flex justify-between items-center w-full"
              >
                <p class="text-sm font-normal text-color group-hover/feedback:text-(--color-accent)! transition-all duration-300">
                  Got feedback? Let us hear it
                </p>
                <ChevronRight class="text-color-accent" size={16} />
              </a>
            </div>
          </div>

          <div class="col-span-2 grid grid-cols-2 text-sm pt-6 pb-6 pr-6">
            <div class="flex flex-col gap-4">
              <div
                class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${complianceManagementPath.includes(currentPath) ? "shadow-md bg-card-secondary -translate-y-1" : ""}`}
              >
                <a
                  href="/product/compliance-management"
                  class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-2"
                >
                  <div
                    class={`flex justify-center asset-bg p-1 m-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover  ${complianceManagementPath.includes(currentPath) ? "bg-asset-hover" : ""}`}
                  >
                    <Combine class="w-7 h-7 text-color" stroke-width={1} />
                  </div>
                  <div>
                    <p class="font-medium text-lg mb-1">
                      Compliance Management
                    </p>
                    <p class="font-normal text-sm leading-5 text-color">
                      Centralize your compliance management with integrated
                      status tracking and comprehensive reporting.
                    </p>
                  </div>
                </a>
              </div>

              <div
                class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${frameworkPath.includes(currentPath) ? "shadow-md bg-card-secondary -translate-y-1" : ""}`}
              >
                <a
                  href="/product/frameworks"
                  class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-2"
                >
                  <div
                    class={`flex justify-center asset-bg p-1 m-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover  ${frameworkPath.includes(currentPath) ? "bg-asset-hover" : ""}`}
                  >
                    <Framer class="w-7 h-7 text-color" stroke-width={1} />
                  </div>
                  <div>
                    <p class="font-medium text-lg mb-1">Frameworks</p>
                    <p class="font-normal text-sm leading-5 text-color">
                      Build and customize your compliance framework to meet
                      industry standards
                    </p>
                  </div>
                </a>
              </div>
            </div>

            <div class="flex flex-col gap-4 ml-3">
              <div
                class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${compliancePolicyAndProcedureManagementPath.includes(currentPath) ? "shadow-md bg-card-secondary -translate-y-1" : ""}`}
              >
                <a
                  href="/product/policy-and-procedure-management"
                  class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-2"
                >
                  <div
                    class={`flex justify-center asset-bg p-1 m-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover  ${compliancePolicyAndProcedureManagementPath.includes(currentPath) ? "bg-asset-hover" : ""}`}
                  >
                    <ScrollText class="w-7 h-7 text-color" stroke-width={1} />
                  </div>
                  <div>
                    <p class="font-medium text-lg mb-1">
                      Policy and Procedure Management
                    </p>
                    <p class="font-normal text-sm leading-5 text-color">
                      Streamline policy management with automated tracking of
                      acceptance and version updates.
                    </p>
                  </div>
                </a>
              </div>
              <div
                class={`group/menu-item hover:shadow-md hover:bg-card-hover rounded-lg transition-all duration-300 cursor-pointer transform hover:-translate-y-1 ${trustCenterPath.includes(currentPath) ? "shadow-md bg-card-secondary -translate-y-1" : ""}`}
              >
                <a
                  href="/product/trust-center"
                  class="grid grid-cols-[auto_minmax(0,1fr)] items-start gap-3 p-2"
                >
                  <div
                    class={`flex justify-center asset-bg p-1 m-2 rounded-lg transition-transform duration-300 group-hover/menu-item:scale-105 group-hover/menu-item:bg-asset-hover  ${trustCenterPath.includes(currentPath) ? "bg-asset-hover" : ""}`}
                  >
                    <Handshake
                      className="w-7 h-7 text-color"
                      stroke-width={1}
                    />
                  </div>
                  <div>
                    <p class="font-medium text-lg mb-1">Trust Center</p>
                    <p class="font-normal text-sm leading-5 text-color">
                      Publish and manage your security and compliance
                      information in one place to build customer trust faster
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    )
  }

  {
    label === "Company" && (
      <div class="absolute bg-card left-0 top-[calc(100%+16px)] w-37.5 rounded-xl shadow-lg opacity-0 invisible group-hover:opacity-98 group-hover:visible transition-opacity duration-200 z-40 border border-color">
        <ul class="flex flex-col p-4 text-lg font-medium space-y-2">
          <li class="hover:text-color-primary transition">
            <a
              href="/company/about"
              class={`${companyAboutPath.includes(currentPath) ? " text-color-accent" : ""}`}
            >
              About
            </a>
          </li>
          <li class="hover:text-color-primary transition">
            <a
              href="/legal"
              class={`${companyLegalPath.includes(currentPath) ? " text-color-accent" : ""}`}
            >
              Legal
            </a>
          </li>
          <li class="hover:text-color-primary transition">
            <a
              href="/company/support"
              class={`${companySupportPath.includes(currentPath) ? " text-color-accent" : ""}`}
            >
              Support
            </a>
          </li>
          <li class="hover:text-color-primary transition">
            <a
              href="/company/contact"
              data-astro-reload
              class={`${companyContactPath.includes(currentPath) ? " text-color-accent" : ""}`}
            >
              Contact
            </a>
          </li>
          <li class="hover:text-color-primary transition">
            <a
              href="/company/changelog"
              class={`${companyChangelogPath.includes(currentPath) ? " text-color-accent" : ""}`}
            >
              Changelog
            </a>
          </li>
        </ul>
      </div>
    )
  }

  {
    label === "Resources" && (
      <div class="absolute bg-card left-0 top-[calc(100%+16px)] w-xs rounded-xl shadow-lg opacity-0 invisible group-hover:opacity-98 group-hover:visible transition-opacity duration-200 z-40 border border-color">
        <ul class="flex flex-col p-4 text-normal font-medium space-y-2">
          <li class="hover:text-color-primary transition">
            <a href="#">News & Industry Insights</a>
          </li>
          <li class="hover:text-color-primary transition">
            <a href="#">Compliance Standards</a>
          </li>
        </ul>
      </div>
    )
  }
</div>
