---
import SectionSubtitle from "../../components/shared/section-subtitle.astro";
import SectionTitle from "../../components/shared/section-title.astro";
import Section from "../../components/shared/section.astro";

const { alt } = Astro.props;
const title = "Openlane vs " + alt;
---

<Section showHeroDots>
  <div class="mx-auto max-w-167">
    <SectionTitle> {title}</SectionTitle>
    <SectionSubtitle>
      Compare open-source compliance<br /> automation with transparency and flexibility<br
      />
      against traditional proprietary platforms</SectionSubtitle
    >
  </div>
</Section>
<Section />
