---
const { alt } = Astro.props;
const title = "Openlane vs " + alt;
---

<section class="pb-20 pt-10 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <p
      class="text-5xl md:text-6xl leading-10 font-normal text-gradient text-color leading-[100%] fade-in-scroll"
    >
      {title}
    </p>
    <p class="text-xl text-gray-600 max-w-2xl mx-auto mt-6">
      Compare open-source compliance automation with transparency and
      flexibility against traditional proprietary platforms
    </p>
  </div>
</section>
