---
import { ChevronRight, CircleCheckBig, Lightbulb } from "@lucide/astro";
---

<section
  class="pt-20 bg-slate-50 rounded-t-[60px] rounded-b-none border-t border-color box-shadow"
>
  <div class="mx-auto max-w-[668px]">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color"
    >
      Centralized Compliance Repository
    </p>
  </div>
  <div class="mx-auto max-w-[668px]">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Openlane functions as a comprehensive, centralized repository for all
        compliance-related materials. This includes a wide range of documents
        such as regulatory requirements, internal policies, standard operating
        procedures, and industry best practices. By <span
          class="color-icon-primary">consolidating</span
        > these resources into a single, easily accessible platform, Openlane eliminates
        the need for scattered documents and disparate systems.
      </p>
    </div>
  </div>

  <div class="mx-auto max-w-[668px] mt-10">
    <p
      class="sm:text-5xl md:text-3xl leading-9 letter-spacing-[-0.75px] font-medium text-color"
    >
      Dynamic Compliance Tracking and Monitoring
    </p>
  </div>
  <div class="mx-auto max-w-[668px]">
    <div class="mt-4 flex justify-center gap-4">
      <p class="text-lg font-normal leading-7">
        Openlane goes beyond simply storing documents; it provides dynamic
        tracking and monitoring capabilities that enable users to actively
        manage compliance status. The platform allows for the creation of
        customized compliance checklists and workflows, ensuring that all
        necessary steps are completed and documented. Users can track the
        progress of each task, identify potential bottlenecks, and receive
        automated alerts for upcoming deadlines or overdue items.
      </p>
    </div>
  </div>

  <div class="bg-dark">
    <div class="flex justify-center mt-[130px] pt-[50px]">
      <p class="font-medium tracking-[-0.9px] text-4xl text-center text-white">
        Task Assignment and Workflow Automation
      </p>
    </div>

    <div
      class="max-w-[1071px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-12 items-stretch mt-10"
    >
      <div class="lg:col-span-6 h-full flex flex-col max-w-[400px]">
        <p
          class="font-medium text-3xl leading-9 tracking-[-0.75px] mb-2 text-white"
        >
          Streamline compliance management
        </p>
        <p
          class="text-lg font-normal leading-7 mb-6 tracking-[-0.6px] text-white"
        >
          Openlane streamlines compliance management by facilitating efficient
          task assignment and workflow automation. Users can easily assign
          specific compliance tasks to individuals or teams, setting clear
          deadlines and providing detailed instructions. The platform's
          integrated workflow engine automates the routing of tasks, ensuring
          that they are completed in a timely and consistent manner.
        </p>

        <div>
          <button
            class="px-6 py-2 border-2 rounded-full border-brand-400 flex items-center gap-2 font-medium text-base"
          >
            <span class="text-white">Lorem ipsum</span>
            <ChevronRight class="w-4 h-4 text-white" />
          </button>
        </div>
      </div>

      <div class="lg:col-span-6 flex justify-center items-center h-full">
        <div
          class="w-full h-full rounded-xl text-center flex justify-center items-center"
        >
          <img
            src="/assets/create-program.svg"
            alt="Create Program"
            class="w-auto max-h-full object-contain rounded-xl"
          />
        </div>
      </div>
    </div>

    <div
      class="max-w-[1071px] mx-auto grid grid-cols-1 lg:grid-cols-12 gap-12 items-stretch mt-10"
    >
      <div class="lg:col-span-6 h-full flex flex-col max-w-[400px]">
        <p
          class="font-medium text-3xl leading-9 tracking-[-0.75px] mb-2 text-white"
        >
          Comprehensive Reporting and Audit Trail
        </p>
        <p
          class="text-lg font-normal leading-7 mb-6 tracking-[-0.6px] text-white"
        >
          Openlane provides robust reporting and audit trail capabilities that
          enable organizations to demonstrate adherence to regulatory standards.
          The platform generates detailed reports on compliance status, task
          completion, and audit findings, providing valuable insights into the
          organization's compliance performance. These reports can be customized
          to meet specific regulatory requirements or internal reporting needs.
        </p>

        <div>
          <button
            class="px-6 py-2 border-2 rounded-full border-brand-400 flex items-center gap-2 font-medium text-base"
          >
            <span class="text-white">Lorem ipsum</span>
            <ChevronRight class="w-4 h-4 text-white" />
          </button>
        </div>
      </div>

      <div class="lg:col-span-6 flex justify-center items-center h-full">
        <div
          class="w-full h-full rounded-xl text-center flex justify-center items-center"
        >
          <img
            src="/assets/audit-log.svg"
            alt="Audit Log"
            class="w-auto max-h-full object-contain rounded-xl"
          />
        </div>
      </div>
    </div>
  </div>
</section>
