---
import { Combine } from "@lucide/astro";
---

<section class="py-10 px-2 sm:px-6 text-center">
  <div class="mx-auto max-w-[668px]">
    <div class="mt-6 mb-10 flex justify-center gap-4">
      <div class="flex justify-center asset-bg p-1 rounded-lg">
        <Combine size={53} class="text-color" stroke-width={1} />
      </div>
    </div>
    <p
      class="sm:text-5xl md:text-6xl leading-10 font-normal text-gradient text-color leading-[100%]"
    >
      Compliance Management
    </p>

    <div class="mt-6 flex justify-center gap-4">
      <p class="text-2xl font-normal leading-8 tracking-[-0.6px]">
        Openlane provides a centralized platform for managing compliance
        requirements, policies, and procedures. Users can track compliance
        status, assign tasks, and generate reports to demonstrate adherence to
        regulatory standards. Grant auditor access directly to Openlane to save
        time uploading evidence to third-party platforms.
      </p>
    </div>
  </div>
</section>
